.intro_section

	.center Первый отечественный производитель качественного сайдинга. Свою деятельность мы начали еще в 1999 году, и с тех пор из небольшого завода компания превратилась в полнофункциональное производство с широкой дилерской сетью по всей России».

	img(src="%=static=%img/content/man2.png", alt="")


.section-white
	h1 Наши партнеры
	.center
		img(src="%=static=%img/assets/partners_page/partners_1.png", alt="")
	h2 Вертикальный сайдинг «Quadrohouse»
	p Вертикальный сайдинг «Quadrohouse» – современные отделочные панели, позволяющие придать дому неповторимый американский стиль.
	p
		a(href="#") www.quadrohouse.com

	.center
		img(src="%=static=%img/assets/partners_page/partners_2.png", alt="")
	h2 Сайдинг «Blockhouse»
	p Сайдинг «Blockhouse» – уникальные панели, имитирующие натуральное оцилиндрованное бревно, благодаря своей массивности, объемности и изящности подарят вашему дому атмосферу уюта и защищенности.
	p
		a(href="#") www.blockhouse.com

	.center
		img(src="%=static=%img/assets/partners_page/partners_3.png", alt="")
	h2 Сайдинг «Аляска»
	p Новый виниловый сайдинг «ALASKA», выполненный по американским и канадским технологиям, разработан специально для суровых климатических условий России. Особая формула верхнего покрытия панелей от американской компании «Penn Color» надежно защищает панели от УФ-излучения.
	p
		a(href="#") www.alyaska.com


	.center
		img(src="%=static=%img/assets/partners_page/alta_siding.png", alt="")
	h2 Фасадные панели (цокольный сайдинг)
	p Фасадные панели (цокольный сайдинг) – великолепный отделочный материал для цокольной части фасада, прочный и надежный, выпускается в многообразии цветов и фактур.
	p
		a(href="#") www.alta-siding.com
