mixin page-header()
    .page-header
        .header-i.clearfix
            a.btn-burger(href="#")
                span
                span
                span
            a.logotype(href="#")
                img(src="%=static=%img/content/alta_logo.svg")
            a.btn-phone(href="#")
                .icon-phone
            a.btn-cart(href="#")
                div.icon-basket
                span 59

