.page-header
	.header-i.clearfix
		a.btn-burger(href="#")
			span
			span
			span
		a.logotype(href="#")
			img(src="%=static=%img/content/logo-head.png")
		a.btn-phone(href="#")
			.icon-phone
		a.btn-cart(href="#")
			div.icon-basket
			span 59
