//- var listTitle = ['Сайдинг','Фасадные панели','Дренажные систем','Газонная решетка','Водосточныесистемы','Купон на скидку']
//- var listSrc = ['%=static=%img/content/icon-intro1.png','%=static=%img/content/icon-intro1.png','%=static=%img/content/icon-intro1.png','%=static=%img/content/icon-intro1.png']
//'%=static=%img/content/icon-intro1.png'
//mixin listItem(val,src)
//    .list.clearfix
//        each val in listTitle
//            a.list-item(href="#")
//                img(src=src alt="icon")
//                p= val
//+listItem()
.intro
	a.logotype(href='#')
		img.icon(src="%=static=%img/content/logotype499x181.png" alt="Alta")
	p Первый на российском рынке
		| производитель отечественного
		| сайдинга, лидер на рынке изделий из пластика


	.intro-list.clearfix
		a(href="#")
			img(src="%=static=%img/content/icon_intro_8.svg" alt="icon")
			| Сайдинг
		a(href="#")
			img(src="%=static=%img/content/icon_intro_5.svg" alt="icon")
			| Фасадные панели
		a(href="#")
			img(src="%=static=%img/content/icon_intro_6.svg" alt="icon")
			| Дренажные системы
		a(href="#")
			img(src="%=static=%img/content/icon_intro_3.svg" alt="icon")
			| Газонная решетка
		a(href="#")
			img(src="%=static=%img/content/icon_intro_1.svg" alt="icon")
			| Водосточные системы
		a(href="#")
			img(src="%=static=%img/content/icon_intro_6.svg" alt="icon")
			| Купон на скидки
