.intro
	background url(../img/content/home-bg.jpg) 50% 50% no-repeat
	background-size cover
	padding 10px 13px 0
	.logotype
		width 250px
		margin 5px auto 0
		display: block
		img
			width 100%
			display block
	p
		font-size 18px
		color #FFF
		line-height 21px
		text-align center
		padding 0 5% 30px

	.list-item
		width 50%
		float left
		position relative
		text-align center
		img
			margin 4px auto 0
		.icon
			display block
			margin 0 auto 2px
			width 50px
			height 50px
			border 1px solid #FFF
			border-radius 4px
			overflow hidden
		p
			padding-bottom 15px
