mixin menu()
    .wrap-menu.snap-drawers
        a.btn-close.icon-close
        .menu-i
            .menu-top
                .lang-list.clearfix
                    a.item.active(href="#") RU
                    a.item(href="#") EN
                    a.item(href="#") DE
                include ../../modules/header/city.jade

            nav.menu
                ul
                    li.wrap-item
                        a(href="#").menu-item Главная

                    li.wrap-item
                        a(href="#").menu-item О компании
                    li.wrap-item
                        a(href="#").menu-item Каталог
                    li.wrap-item
                        a(href="#").menu-item Монтаж
                    li.wrap-item
                        a(href="#").menu-item Галерея
                    li.wrap-item
                        a(href="#").menu-item Где купить
                    li.wrap-item
                        a(href="#").menu-item Для клиентов
                        a(href="#").btn-drop
                            i.icon-arrow-t
                            i.icon-arrow-b
                        nav.sub-menu.drop-list
                            ul
                                li
                                    a(href="#").menu-item Корзина (0)
                                li
                                    a(href="#").menu-item Что с моим товаром?
                    li.wrap-item
                        a(href="#").menu-item Для профессионалов
                        a(href="#").btn-drop
                            i.icon-arrow-t
                            i.icon-arrow-b
                        nav.sub-menu.drop-list
                            ul
                                li
                                    a(href="#").menu-item Личный кабинет
                                li
                                    a(href="#").menu-item Стать дилером
            .wrap-search
                input(type="text" placeholder="Поиск по сайту")
                button.btn-search
                    .icon-search
            .wrap-soc
                .soc-links.clearfix
                    a.soc-icon.icon-vk(href="http://vk.com/altaprofilru")
                    a.soc-icon.icon-fb(href="https://www.facebook.com/altaprofilru")
                    a.soc-icon.icon-ok2(href="http://ok.ru/group/52745676259413")
                        .path1
                        .path2
                        .path3
                    a.soc-icon.icon-yt(href="https://www.youtube.com/user/altaprofil1 ")
