.wrap-menu
    a.btn-close.icon-close
    .menu-i
        .menu-top
            .lang-list.clearfix
                a.item.active(href="#") RU
                a.item(href="#") EN
                a.item(href="#") DE
            include ../../modules/city/city.jade
        .menu