mixin items()
	for item in ["item1", "item2", "item3", "item4", "item5"]
		label.control.checkbox
			input(type="checkbox", name="x")
			i.control-indicator
			| #{item}




h1 Где купить сайдинг?
.wrap-select
	- var options = ["Москва", "Московская область", "Тутуево", "Кукуево"];
		select
			- for option in options
				option(value="") #{option}

.js_expander-trigger.btn.btn-blue Показать фильтр
	i.icon-arrow

.js_expander-content
	h2 Тип продукции
	- var filters = ["Все", "Сайдинг", "Фасадные панели", "Наличники", "Откосы", "Панели ПВХ", "Вагонка ПВХ", "Кровля", "Газонная решетка", "Террасная доска", "Водостоки", "Дренажные системы"];
		- for filter in filters
			label.control.checkbox
				input(type="checkbox", name="x")
				i.control-indicator
				| #{filter}

	h2 Тип точки продажи
	+items()
	h2 Услуги
	+items()
	h2 Другое
	+items()



h2 Компания «Авангард»
h4 Авторизованный дилер
h4 Цены от производителя

//stars
.rating
	<b>☆</b>
	<b>☆</b>
	<b>☆</b>
	<b>☆</b>
	<b>☆</b>


ul.blue-dot
	li г. Москва, ул. 2-я Магистральная, 19-г
	li 09:00 — 20:00, пн.-пт.
	li 8 (495) Показать телефон
	li 8 (495) Показать телефон
	li www.avangard.ru
	li mail@avangard.ru

p.clr_lite Подробнее о дилере
a.btn.btn-blue(href="#") Отправить заявку
a.btn.btn-red(href="#") Сделать заказ на сайте*

p.clr_lite * вы можете выбрать этого дилера, сделав заказ на сайте




a.btn.btn-red(href="#") Стать дилером














p На кириллический контент – написание символов. Символов на латыни и т.д имеет никакого. Сегодня существует несколько вариантов lorem ipsum. Своим появлением lorem кириллице значительно. В книгопечатании еще в качестве рыбы. К обитателям водоемов получить более длинный неповторяющийся набор. Абзацев, отступов и даже с использованием lorem ipsum. При оценке качества восприятия макета наиболее распространенных слов который планируется использовать. Текста исключительно демонстрационная, то и смысловую нагрузку.
