.section-title Где купить сайдинг?
.sort-block-i
	.wrap-select


		select
			//- each option, i in options
			//-   option(value=i) #{options}

			option(value="1") Все
			option(value="2") Сайдинг
			option(value="3") Фасадные панели
			option(value="4") Дренажные системы
			option(value="5") Газонная решеткa
			option(value="6") Водосточные системы
			option(value="7") Внутренняя отделка
