#map
  //cf()
  clear both
  width 100%
  height 350px


// TODO wtf
.js_expander-trigger
  .icon-arrow
    float right
    content: "\e900"
    transform: rotateZ(90deg)
    padding 30px 10px 0 0


//ul
.dealer_list-param
  li
    padding-left 20px
    &:nth-child(1)
      background url('%=static=%assets/map_page/map.png') left center no-repeat
    &:nth-child(2)
      background url('%=static=%assets/map_page/date.png') left center no-repeat
    &:nth-child(5)
      background url('%=static=%assets/map_page/site-ic.png') left center no-repeat

    &:nth-child(6)
      background url('%=static=%assets/map_page/mail.png') left center no-repeat
