mixin items(arr)
	for item in arr
		label.control.checkbox
			input(type="checkbox", name="x")
			i.control-indicator
			| #{item}


.section-white
	h1 Стать дилером

	p «Альта-Профиль» – первый отечественный производитель качественного сайдинга. Свою деятельность мы начали еще в 1999 году, и с тех пор из небольшого завода компания превратилась в полнофункциональное производство с широкой дилерской сетью по всей России. Руководствуясь передовыми методами и лучшими технологиями зарубежных коллег, на основе собственной лабораторной базы мы создали уникальный товар, который оптимально подходит для использования в российских климатических условиях.

	a.btn.btn-red Заполнить анкету

	h3 Анкета для потенциальных дилеров

	p Хотите стать частью успешной команды «Альта-Профиль»? Все довольно просто, и, если вы серьезный и ответственный человек, остается всего один шаг – заполнить анкету потенциального дилера!

	form(action="")
		input(type="text", name="", placeholder="Введите ваше Ф.И.О.")
		input(type="text", name="", placeholder="Название вашей организации")
		input(type="text", name="", placeholder="Введите вашу должность")
		input(type="text", name="", placeholder="Адрес центрального офиса")
		input(type="text", name="", placeholder="Введите контактный телефон")
		input(type="text", name="", placeholder="Введите e-mail")



		p Выбор материалов, продажу которых хотелось бы осуществлять:

		+items(['Сайдинг', 'Фасадные панели', 'Водосточная система'])

		p Прочее:

		+items(['Пластиковые панели ПВХ','Вагонка ПВХ','Дренажная система','Газонные решетки','Отдельные элементы Альта-декор','Наличники и откосы'])

		p Желаемые объемы закупок и розничная стоимость продукции в вашем регионе:

		textarea(name="", rows="10")



		+items(['Требуется рекламная поддержка', 'Требуется консультация по особенности продукции «Альта-Профиль»'])

		buttona.btn.btn-red Отправить заявку
