mixin items(arr)
	for item in arr
		label.control.checkbox
			input(type="checkbox", name="x")
			i.control-indicator
			| #{item}


.section-white
	h1 Стать дилером

	p «Альта-Профиль» – первый отечественный производитель качественного сайдинга. Свою деятельность мы начали еще в 1999 году, и с тех пор из небольшого завода компания превратилась в полнофункциональное производство с широкой дилерской сетью по всей России. Руководствуясь передовыми методами и лучшими технологиями зарубежных коллег, на основе собственной лабораторной базы мы создали уникальный товар, который оптимально подходит для использования в российских климатических условиях.

	a.btn.btn-red Заполнить анкету

	h3 Анкета для потенциальных дилеров

	p Хотите стать частью успешной команды «Альта-Профиль»? Все довольно просто, и, если вы серьезный и ответственный человек, остается всего один шаг – заполнить анкету потенциального дилера!

	form(action="")
		input(type="text", name="", placeholder="Введите ваше Ф.И.О.")
		input(type="text", name="", placeholder="Название вашей организации")
		input(type="text", name="", placeholder="Введите вашу должность")
		input(type="text", name="", placeholder="Адрес центрального офиса")
		input(type="text", name="", placeholder="Введите контактный телефон")
		input(type="text", name="", placeholder="Введите e-mail")



		p Выбор материалов, продажу которых хотелось бы осуществлять:

		+items(['Сайдинг', 'Фасадные панели', 'Водосточная система'])

		p Прочее:

		+items(['Пластиковые панели ПВХ','Вагонка ПВХ','Дренажная система','Газонные решетки','Отдельные элементы Альта-декор','Наличники и откосы'])

		p Желаемые объемы закупок и розничная стоимость продукции в вашем регионе:

		textarea(name="", rows="6")



		+items(['Требуется рекламная поддержка', 'Требуется консультация по особенности продукции «Альта-Профиль»'])

		buttona.btn.btn-red Отправить заявку


	.statistics
		p
			b 18 лет
			| возраст компании со дня основанияв 1998 году
		p
			b 587 дилеров
			| количество дилерских центров по всей России
		p
			b 11 стран
			| в которых мы предоставляем свои услуги


	.principles 
		h2 Что компания ждет от дилеров:

		h3 Представлять компанию 
		«Альта-Профиль»
		p Разница в качестве рыбы текст на латыни. Частотой, имеется разница в длине наиболее распространенных слов самым. Вырвал отдельные фразы и на кириллический контент. Известным рыбным текстом является знаменитый lorem ipsum на кириллице значительно различа.

		h3 Выполнять определенный объем продаж
		p Буквы встречаются с использованием lorem ipsum обязан древнеримскому философу цицерону ведь. Шрифтов, абзацев, отступов и т.д несколько вариантов lorem текст-рыбу. Чему появляется возможность получить более. Языке, который планируется использовать при запуске.
		a.btn.btn-blue(href="") Запросить условия

		h3 Стать частью большой дружной семьей
		p Буквы встречаются с использованием lorem ipsum обязан древнеримскому философу цицерону ведь. Шрифтов, абзацев, отступов и т.д несколько вариантов lorem текст-рыбу. Чему появляется возможность получить более. Языке, который планируется использовать при запуске.

	a.btn.btn-red(href="") Хочу стать дилером

	.overlay
		img(src="%=static=%img/assets/about_page/owr_4.png", alt="")
		i Качество продукции

	p С другой стороны рамки и место обучения кадров в значительной степени обуславливает создание позиций, занимаемых <a href="">участниками</a> в отношении поставленных задач.

	.overlay
		img(src="%=static=%img/assets/fordealer_page/owr_d_1.png", alt="")
		i Широкий выбор продукции
	p Равным образом дальнейшее развитие различных форм деятельности играет важную роль в формировании <a href="">существенных</a> финансовых и административных

	.overlay
		img(src="%=static=%img/assets/fordealer_page/owr_d_2.png", alt="")
		i Наличие товара в сезон
	p Задача организации, в особенности же рамки и место обучения кадров в значительной степени <a href="">обуславливает</a> оздание дальнейших направлений развития.

	.overlay
		img(src="%=static=%img/assets/fordealer_page/owr_d_3.png", alt="")
		i Логистическая база


	p Не следует, однако забывать, что рамки и <a href="">место обучения</a> кадров позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач.

	h2.js_expander-trigger.trigger_dashed
		i Реклама
	//- .js_expander-content  
	h3 Компенсация рекламных активностей

	p Разнообразный и богатый опыт новая модель организационной деятельности в значительной степени обуславливает создание форм развития. Разнообразный и богатый опыт реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач.

	h3 Бесплатная полиграфия, стенды

	p Повседневная практика показывает, что сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.

	h2.js_expander-trigger.trigger_dashed
		i Активности

	.overlay
		img(src="%=static=%img/assets/fordealer_page/owr_d_4.png", alt="")
		i Семинары по продукции
	p С другой стороны рамки и место обучения кадров в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. Равным образом развитие.

	.overlay
		img(src="%=static=%img/assets/fordealer_page/owr_d_4.png", alt="")
		i Тренинги по продажам
	p Равным образом дальнейшее развитие различных форм деятельности играет важную роль в формировании сущест-венных финансовых и административных. Задача организации, в особенности же рамки и место обучения кадров. в значительной степени обуславливает создание дальнейших направлений развития.

	.overlay
		img(src="%=static=%img/assets/fordealer_page/owr_d_5.png", alt="")
		i Совместные выставки

	p Задача организации, в особенности же рамки и место обучения кадров в значительной степени обуславливает создание дальнейших направлений развития. Задача организации, в особенности же рамки. и место обучения кадров в значительной степени обуславливает создание дальнейших направлений развития.

	.overlay
		img(src="%=static=%img/assets/fordealer_page/owr_d_5.png", alt="")
		i Конференция дилеров

	p Не следует, однако забывать, что рамки и место обучения кадров позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что рамки и место обучения кадров обеспечивает широкому кругу (специалистов) и место обучения кадров в значительной степени обуславливает создание дальнейших направлений развития.

	a.btn.btn-red Хочу стать дилером

	h2.js_expander-trigger.trigger_dashed
		i Отзывы дилеров

	a.btn.btn-blue Посмотреть все отзывы

	h2.js_expander-trigger.trigger_dashed
		i Частые вопросы

	a.btn.btn-blue Посмотреть все вопросы

	h1 Проверь свой региони запроси условиясотрудничества

	a.btn.btn-blue Хочу стать дилером
