.section-white
	.sort-block
		margin-right -13px
		margin-left -13px
		position: relative
		.swiper-container
			margin-right 0
			margin-left 0
	.section-title
		margin: 0 13px 20px;
	.swiper-container
		margin-right -13px
		margin-left -13px

.product-grid
	margin 0 -13px
.wrap-product-grid
	.product-title
		font-size 25px
		line-height: 31px;
		color #0071bb
		font-weight normal
		padding-right 40px
		display: block
		position: relative
		margin-bottom 1em
		i
			position: absolute
			right 16px
			top 50%
			font-size 14px;
			transform translateY(-50%);
			color  #0071bb
		.icon-arrow-t
			opacity 0
		&.active
			.icon-arrow-t
				opacity 1
			.icon-arrow-b
				opacity 0
	.text
		padding-bottom: 1em;
		display: none
	.banner
		clear both
		width auto
		margin-bottom: 50px;
		border 1px solid #cccccc
		img
			display: block
			max-height: 100%
			max-width: 100%
	.product
		color #444
		text-align:left
		float left
		width 50%
		padding 0 5% 20px
	img
		width 100%
	.title
		font-size 16px;
		line-height: 20px;
		font-weight: bold;
		min-height: 45px;

.footer-btm 
	p
		margin-bottom: 0
.btn-open-filters
	.icon-arrow-b,.icon-arrow-t
		position: absolute
		right 18px
		top 12px
		font-size 10px
	.icon-arrow-t
		opacity 0
	&.active
		.icon-arrow-t
			opacity 1
		.icon-arrow-b
			opacity 0
.wrap-select
	position: relative
.select-sort
	position: relative
	.wrap-select .select2-container--default .select2-selection--single
		height 25px
		line-height: 25px
		color #0071bb
	.wrap-select .select2-container--default .select2-selection--single .select2-selection__arrow b
		margin-top -3px
	.wrap-select
		float right
		width 66%
	label
		width 95px
		line-height: 25px;
		font-size 15px
		color #333333
		position: absolute
		left 0
		top 0
.drop-down
	display: none
.wrap-filters
	.filter
		border-bottom 1px solid #cccccc
		padding 2em 0
	.wrap-list
		clear both
	.sub-title
		font-size 18px
		line-height: 26px
		position: relative
		display: block
		&.dark
			color #444444
		i
			position: absolute
			right 18px
			top 12px
			font-size 10px
		.icon-arrow-t
			opacity 0
		.icon-arrow-b
			opacity 1
		&.active
			.icon-arrow-t
				opacity 1
			.icon-arrow-b
				opacity 0
	>.drop-down
		padding: 0em 0 2em
		.drop-down
			padding 1em 0 0
	.color-table
		padding-bottom 0
		table,tr
			width 100%
		td
			position: relative
			padding 0 5px
			height 45px
			&:last-child
				padding-right 2px
			&:first-child
				padding-left 2px
		.color
			width 41px
			height 41px
			float none
			position: relative
			top 0
			left 0
			bottom 0
			right 0
			margin 0 auto

	.material-table
		table,tr
			width 100%
		td
			position: relative
			padding 0 6px;
			height 64px
			&:last-child
				padding-right 2px
			&:first-child
				padding-left 2px
		.material
			display: block
			width 60px
			height 60px
			margin 0 auto
			float none
			position: relative
			top 0
			left 0
			bottom 0
			right 0
			-webkit-background-size: cover
			background-size: cover
			background-position 50% 50%
			background-repeat none
			&.active
				box-shadow: 0 0 0 2px #ff3131;
.wrap-check
	position: relative
	&:last-child
		label
			padding-bottom 0
	input[type=checkbox]
		position: absolute
		left 0
		top 0
		width 18px
		margin 0
		height 18px
	label
		position: relative
		display: block
		padding-left 20px
		color #777777
		font-size 14px
		line-height: 16px;
		padding-bottom 18px
.wrap-amount
	.wrap-input
		float left
		width 35%
	input
		text-align center
		margin 0
	em
		line-height: 35px
		color #444444
		font-size 14px
		float left
		width 10%
		text-align center

		&:first-child
			text-align left
		&:last-child
			text-align right
.intro .intro-list a
	padding-bottom 0
	margin-bottom 15px
.custom-scroll-blue
	.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail
		height 3px
		border none
		background-color #ffffff
		border-top 1px solid #2e8bc7
		border-bottom 1px solid #2e8bc7
		border-right 1px solid #2e8bc7
		border-left 1px solid #2e8bc7
		box-sizing border-box
	.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar
		margin-top 1px
		height 1px

		background-color #2e8bc7
	.mCSB_scrollTools .mCSB_draggerContainer
		left 0
		right 0
.footer .dwnld a
	img
		width auto
.icon-man
	width auto
.wrap-paging
	position: relative
.swiper-instruction
	position: absolute
	width 100%
	height 100%
	-webkit-box-sizing: content-box
	-moz-box-sizing: content-box
	box-sizing: content-box
	padding-bottom 25px
	left 0
	top -25px
	z-index 2
	background rgba(00,00,00,0.4)
	transition opacity .4s ease 0s, visibility  .4s ease 0s
	&.hide
		opacity 0
		visibility hidden
	img
		width: 40%;
		position: absolute;
		top: 10%;
		left: 30%;
		opacity .7
		@media (min-width: 600px)
			width 30%
			left 35%