.swiper-wrapper(data-snap-ignore="true")
	.swiper-slide
		img(src="%=static=%img/assets/lawngrids_page/test.jpg", alt="")
	.swiper-slide
		img(src="%=static=%img/assets/lawngrids_page/test.jpg", alt="")
	.swiper-slide
		img(src="%=static=%img/assets/lawngrids_page/test.jpg", alt="")
	.swiper-slide
		img(src="%=static=%img/assets/lawngrids_page/test.jpg", alt="")
	.swiper-slide
		img(src="%=static=%img/assets/lawngrids_page/test.jpg", alt="")
	.swiper-slide
		img(src="%=static=%img/assets/lawngrids_page/test.jpg", alt="")
.swiper-color-pagination
.swiper-scrollbar.scroll-blue
