.section-white
	h1 О компании
	p «Альта-Профиль» – первый отечественный производитель качественного сайдинга. Свою деятельность мы начали еще в 1999 году, и с тех пор из небольшого завода компания превратилась в полнофункциональное производство с широкой дилерской сетью по всей России. Руководствуясь передовыми методами и лучшими технологиями зарубежных коллег, на основе собственной лабораторной базы мы создали уникальный товар, который оптимально подходит для использования в российских климатических условиях.

	p Продукция компании «Альта-Профиль» стала единственным облицовочным материалом, который прошел полную сертификацию в соответствии  со всеми российскими ГОСТ-ами.

	.about_statistics
		p
			b 18 лет
			| возраст компании со дня основанияв 1998 году
		p
			b 2 500
			| количество сотрудников компании, коотрое растет с каждым годом
		p
			b 250
			| количество дилерских центров по всей России
