

.tstBG
 background #000

.img_FW
  display block
  width 100%


.intro_section
  background #000
  position relative

  .center
    //font-size 18px
    padding 2em 2em
    color #FFF
  img
    position absolute
    bottom 0
    left 50%
    transform: translate(-50%, 20%);
  //.tstBG





.overlay
  position relative
  text-align center
  i
    position absolute
    left 50%
    top 50%
    transform: translate(-50%,-50%);
    color #FFF
    font-size 18px



// типа факты в числах
.statistics
  b
    display block
    color color-light-blue
    font-weight 700
    font-size 50px
    line-height 1


.advantages_links

  a
    display block
    margin 1em 0
    color #0066cc
    font-size 18px
    text-decoration underline


.principles
  margin 2em 0
  padding 2em 0 .25em

  border-top 5px solid color-light-blue
  border-bottom 5px solid color-light-blue
