

.tstBG
 background #000

.img_FW
  display block
  width 100%


.intro_section
  background #000
  position relative

  .center
    //font-size 18px
    padding 2em 1em
    color #FFF
  img
    position absolute
    bottom 0
    left 50%
    transform: translate(-50%, 20px);
  //.tstBG





.overlay
  position relative
  text-align center
  i
    position absolute
    left 50%
    top 50%
    transform: translate(-50%,-50%);
    color #FFF
    font-size 18px



// типа факты в числах
.statistics
  b
    display block
    color color-light-blue
    font-weight 700
    font-size 50px
    line-height 1



.time-line
  a
    display block
    font-size 18px
    padding 1em 0

.SIDING
  text-align center
  padding 2em 0
  color #fff
  font-size 92px
  line-height 65px
  letter-spacing -1px
  margin-bottom 3px
  font-weight bold
  text-shadow 0 5px 8px rgba(0,0,0,0.24), 1px 2px 15px rgba(0,0,0,0.3)


.advantages_links

  a
    display block
    margin 1em 0
    color #0066cc
    font-size 18px
    text-decoration underline


.principles
  h2
    h1()
  h3
    h2()

  margin 2em 0
  padding 2em 0 .25em

  border-top 5px solid color-light-blue
  border-bottom 5px solid color-light-blue
