.tstBG(style="height:438px")
.section-white

	h1 О компании

	p «Альта-Профиль» – первый отечественный производитель качественного сайдинга. Свою деятельность мы начали еще в 1999 году, и с тех пор из небольшого завода компания превратилась в полнофункциональное производство с широкой дилерской сетью по всей России. Руководствуясь передовыми методами и лучшими технологиями зарубежных коллег, на основе собственной лабораторной базы мы создали уникальный товар, который оптимально подходит для использования в российских климатических условиях.

	img(src="%=static=%img/assets/about_page/znak.png", alt="")

	p Продукция компании «Альта-Профиль» стала единственным облицовочным материалом, который прошел полную сертификацию в соответствии  со всеми российскими ГОСТ-ами.


.tstBG(style="height:215px")
.section-white


	.statistics
		p
			b 18 лет
			| возраст компании со дня основанияв 1998 году
		p
			b 2 500
			| количество сотрудников компании, коотрое растет с каждым годом
		p
			b 250
			| количество дилерских центров по всей России

	.principles 
		h1 Принципы


	//advantages
	h1 Преимущества компании «Альта-Профиль»

	p Став первыми отечественными производителями сайдинга, мы никогда не останавливались на достигнутом и стремились не только расширять свое предложение, но перенимать опыт лучших зарубежных коллег, постоянно улучшая качество производимого нами товара.

	.advantages_links
		a(href="") Экологически чистое сырье
		a(href="") Многообразие видов продукции
		a(href="") Общественное признание
		a(href="") Доступные цены для покупателей





	h1 Компания «Альта-Профиль» стала первым производителем российского сайдинга

	p В годы начала нашей деятельности в России просто не существовало экструзионной промышленности, поэтому специалистам компании пришлось начинать практически с нуля. Однако пренебрегать опытом ведущих зарубежным производителей сайдинга мы, естественно, не стали, наладив сотрудничество с канадскими и американскими специалистами. Более того, нам удалось наладить ряд успешных партнерских программ       с такими известными производителями и торговыми марками, как «Технопласт», «Тайсон», Krauss-Maffei , «Микросан», Der-Sun, Cincinnati, Greiner, LRS и другие.

.tstBG(style="height:320px")
.section-white


	img(src="%=static=%img/assets/about_page/s1.png", alt="")

	p На сегодняшний день компания представляет собой полностью автономное производство.

	img(src="%=static=%img/assets/about_page/s2.png", alt="")

	p Однако полагаться только на опыт зарубежных коллег – это значит забыть про нюансы отечественного климата. Для того чтобы производить наиболее оптимальный для российских климатических реалий товар, было принято решение о создании лабораторной базы для разработки рецептуры собственных пластиковых изделий.


.tstBG(style="height:320px")
.section-white




	h1 История

	h1 А что на практике?



	.center «Присоединяйтесь к нам – как партнеры, клиенты и просто друзья компании Альта-Профиль. Вместе мы достигнем большего!»
