
.intro_section

	.center Первый отечественный производитель качественного сайдинга. Свою деятельность мы начали еще в 1999 году, и с тех пор из небольшого завода компания превратилась в полнофункциональное производство с широкой дилерской сетью по всей России».

	img(src="%=static=%img/content/man2.png", alt="")


.section-white

	h1 О компании

	p «Альта-Профиль» – первый отечественный производитель качественного сайдинга. Свою деятельность мы начали еще в 1999 году, и с тех пор из небольшого завода компания превратилась в полнофункциональное производство с широкой дилерской сетью по всей России. Руководствуясь передовыми методами и лучшими технологиями зарубежных коллег, на основе собственной лабораторной базы мы создали уникальный товар, который оптимально подходит для использования в российских климатических условиях.

	//.center
	.v_2em0
		img(src="%=static=%img/assets/about_page/znak.png", alt="")

	p Продукция компании «Альта-Профиль» стала единственным облицовочным материалом, который прошел полную сертификацию в соответствии  со всеми российскими ГОСТ-ами.


img.img_FW(src="%=static=%img/assets/about_page/fw_1.jpg", alt="")
.section-white


	.statistics
		p
			b 18 лет
			| возраст компании со дня основанияв 1998 году
		p
			b 2 500
			| количество сотрудников компании, коотрое растет с каждым годом
		p
			b 250
			| количество дилерских центров по всей России

	.principles 
		h2 Принципы

		h3 Качество
		p Качество – это суть работы нашей компании. Качество продукции подтверждается многочисленными сертификатами и постоянными лабораторными исследованиями.

		h3 Инновационность
		p Мы первопроходы, а не последователи.

		h3 Ответственность
		p Компания отвечает за качество всей своей продукции.

		h3 Надежность
		p Компания является надежным партнером, гарантирующим исполнение всех своих обязательств.

		h3 Непрерывность действий
		p Никогда не останавливаться на достигнутом, ставить перед собой все новые задачи.
		h3 Преданность своему делу 
		p Мы делаем то, что любим и умеем делать хорошо.



	//advantages
	h1 Преимущества компании «Альта-Профиль»

	p Став первыми отечественными производителями сайдинга, мы никогда не останавливались на достигнутом и стремились не только расширять свое предложение, но перенимать опыт лучших зарубежных коллег, постоянно улучшая качество производимого нами товара.


	.overlay
		img(src="%=static=%img/assets/about_page/owr_1.png", alt="")
		i Экологически чистое сырье


	p Вся продукция компании «Альта-Профиль» производится только из первичного российского сырья высокого качества с использованием <a href="#"> сертифицированных</a> импортированных аддитивов.
	p Это значит, что при производстве своего сайдинга мы не допускаем использования переработанного пластика, а берем только сырье первичной обработки.

	.overlay
		img(src="%=static=%img/assets/about_page/owr_2.png", alt="")
		i Многообразие видов продукции

	p Можно смело сказать, что на сегодняшний день видовое предложение <a href="#">продукции</a> компании обширнее всех отечественных производителей и способно успешно конкурировать даже с лучшими мировыми марками. В ходе расширения своей производственной базы компания выпустила на рынок также несколько торговых марок различных ценовых категорий и назначений.


	.overlay
		img(src="%=static=%img/assets/about_page/owr_3.png", alt="")
		i Общественное <br>признание

	p Подтверждением высочайшего качества нашей продукции служат многочисленные сертификаты Госстроя и Госстандарта России, которые <a href="#">гарантируют</a> соблюдение всех экологических стандартов. при производстве изделий из пластика торговых марок «Альта-Профиль».

	.overlay
		img(src="%=static=%img/assets/about_page/owr_4.png", alt="")
		i Доступные цены <br>для покупателей

	p Чтобы избежать опыта многочисленных производителей, которые в погоне за дешевизной поставили под удар качество своей продукции, мы решили предлагать своим клиентам не <a href="#">дешевый</a>, а доступный продукт. Собственное производство, каналы поставки, развитая складская система и первичная сырьевая база позволяют нам конкурировать по цене и качеству с импортными производителями.


	//- .advantages_links
	//- 	a(href="") Экологически чистое сырье
	//- 	a(href="") Многообразие видов продукции
	//- 	a(href="") Общественное признание
	//- 	a(href="") Доступные цены для покупателей


	h1 Компания «Альта-Профиль» стала первым производителем российского сайдинга


	p В годы начала нашей деятельности в России просто не существовало экструзионной промышленности, поэтому специалистам компании пришлось начинать практически с нуля. Однако пренебрегать опытом ведущих зарубежным производителей сайдинга мы, естественно, не стали, наладив сотрудничество с канадскими и американскими специалистами. Более того, нам удалось наладить ряд успешных партнерских программ       с такими известными производителями и торговыми марками, как «Технопласт», «Тайсон», Krauss-Maffei , «Микросан», Der-Sun, Cincinnati, Greiner, LRS и другие.

img.img_FW(src="%=static=%img/assets/about_page/fw_2.jpg", alt="")

.section-white

	.clr_lite

		img(src="%=static=%img/assets/about_page/s1.png", alt="")

		p На сегодняшний день компания представляет собой полностью автономное производство.

		img(src="%=static=%img/assets/about_page/s2.png", alt="")

		p Однако полагаться только на опыт зарубежных коллег – это значит забыть про нюансы отечественного климата. Для того чтобы производить наиболее оптимальный для российских климатических реалий товар, было принято решение о создании лабораторной базы для разработки рецептуры собственных пластиковых изделий.


img.img_FW(src="%=static=%img/assets/about_page/fw_3.jpg", alt="")
.section-white




	h1 История

	p «Свое победоносное шествие по отечественному рынку компания начала еще в 1999 году, когда российский потребитель впервые столкнулся с неизвестным ранее облицовочным материалом с иностранным названием «сайдинг». Не секрет, что большая часть рыночного предложения в то время оставляла желать лучшего, поэтому и было принято решение наладить собственное производство сайдинга. Более того, изначальным ориентиром стали климатические условия и финансовые возможности российского клиента, что впоследствии было реализовано в нескольких сериях сайдинга и получило многочисленные положительные отклики».

	.SIDING SIDING

	p (англ. siding — наружная облицовка) — облицовки стен зданий и выполняющие две функции: утилитарную (защита здания от внешних воздействий, таких, как дождь, ветер, снег, солнце) и эстети-ческую (декорирование фасада дома).
	p._AR
		a(href="") Больше информации

	.time-line

		a(href="") 2001
		a(href="") 2002-2004
		a(href="") 2004-2005
		a(href="") 2006
		a(href="") 2006-2007
		a(href="") 2008
		a(href="") 2009
		a(href="") 2010
		a(href="") наши дни


	h1 А что на практике?

	p Продукция компании «Альта-Профиль» стала единственным облицовочным материалом отечественного изготовления, который прошел полную сертификацию в соответствии со всеми российскими ГОСТ-ами. Мы готовы предоставить полный пакет документов – сертификаты соответствия и пожарной безопасности, экспертные заключения на все виды производимых нами отделочных материалов.


	p "Компания ежегодно участвует  в международных строительных и интерьерных выставках.

	h4 Наш сайдинг отлично зарекомендовал себя и на практике, пройдя ряд натуральных испытаний в различных климатических поясах:

	//- .center
	//- 	img(src="%=static=%img/assets/certificates_page/certificates_4.jpg", alt="")

	.swiper-container.swiper-color
		.swiper-wrapper(data-snap-ignore="true")
			.swiper-slide
				img(src="%=static=%img/assets/certificates_page/certificates_1.jpg", alt="")
			.swiper-slide
				img(src="%=static=%img/assets/certificates_page/certificates_2.jpg", alt="")
			.swiper-slide
				img(src="%=static=%img/assets/certificates_page/certificates_3.jpg", alt="")
			.swiper-slide
				img(src="%=static=%img/assets/certificates_page/certificates_4.jpg", alt="")
		.swiper-scrollbar.scroll-blue

	p Для того чтобы убедиться в наших словах, вы можете сами просмотреть все <a href="#">сертификаты и ГОСТы</a>, которые имеются у нас.

	.center 
		h2 «Присоединяйтесь к нам <br>– как партнеры, клиенты и просто друзья компании Альта-Профиль. Вместе мы достигнем большего!»
