

 .tstBG
   background #000
   
// типа факты в числах
.statistics
  b
    display block
    color color-light-blue
    font-weight 700
    font-size 50px
    line-height 1


.advantages_links

  a
    display block
    margin 1em 0
    color #0066cc
    font-size 18px
    text-decoration underline


.principles
  margin 2em 0
  padding 2em 0 .25em

  border-top 5px solid color-light-blue
  border-bottom 5px solid color-light-blue
