//- var listTitle = ['Сайдинг','Фасадные панели','Дренажные систем','Газонная решетка','Водосточныесистемы','Купон на скидку']
//- var listSrc = ['%=static=%img/content/icon-intro1.png','%=static=%img/content/icon-intro1.png','%=static=%img/content/icon-intro1.png','%=static=%img/content/icon-intro1.png']
//'%=static=%img/content/icon-intro1.png'
//mixin listItem(val,src)
//    .list.clearfix
//        each val in listTitle
//            a.list-item(href="#")
//                img(src=src alt="icon")
//                p= val
//+listItem()
div.intro
    a.logotype(href='')
        img.icon(src="%=static=%img/content/logotype499x181.png" alt="Alta")
    p Первый на российском рынке
        | производитель отечественного
        | сайдинга, лидер на рынкеизделий из пластика
    .list.clearfix
        a.list-item(href="#")
            .icon
                img(src="%=static=%img/content/icon_intro_8.svg" alt="icon" style="width:40px;")
            p Сайдинг
        a.list-item(href="#")
            .icon
                img(src="%=static=%img/content/icon_intro_5.svg" alt="icon" style="width:40px;")
            p Фасадные панели
        a.list-item(href="#")
            .icon
                img(src="%=static=%img/content/icon_intro_6.svg" alt="icon" style="width:48px; margin-top:0;")
            p Дренажные систе
        a.list-item(href="#")
            .icon
                img(src="%=static=%img/content/icon_intro_3.svg" alt="icon" style="width:40px;")
            p Газонная решетк
        a.list-item(href="#")
            .icon
                img(src="%=static=%img/content/icon_intro_1.svg" alt="icon" style="width:40px;")
            p Водосточные систем
        a.list-item(href="#")
           .icon
               img(src="%=static=%img/content/icon_intro_6.svg" alt="icon" style="width:48px; margin-top:0;")
            p Купон на скид