.swiper-container.swiper-photo_blue
	.swiper-wrapper
		.swiper-slide
			img(src="%=static=%img/content/slide257x182.jpg")
		.swiper-slide
			img(src="%=static=%img/content/slide257x182.jpg")
		.swiper-slide
			img(src="%=static=%img/content/slide257x182.jpg")
		.swiper-slide
			img(src="%=static=%img/content/slide257x182.jpg")
		.swiper-slide
			img(src="%=static=%img/content/slide257x182.jpg")
		.swiper-slide
			img(src="%=static=%img/content/slide257x182.jpg")

	.swiper-scrollbar
