.section-title Фотографии
.swiper-container.swiper-photo
	.swiper-wrapper(data-snap-ignore="true")
		.swiper-slide
			img(src="%=static=%img/content/slide257x182.jpg")
		.swiper-slide
			img(src="%=static=%img/content/slide257x182.jpg")
		.swiper-slide
			img(src="%=static=%img/content/slide257x182.jpg")
		.swiper-slide
			img(src="%=static=%img/content/slide257x182.jpg")
		.swiper-slide
			img(src="%=static=%img/content/slide257x182.jpg")
		.swiper-slide
			img(src="%=static=%img/content/slide257x182.jpg")

	.swiper-scrollbar.scroll-blue
a.btn.btn-blue(href="#") Подробнее о компании
