img.banner(src='%=static=%img/content/banner.jpg' alt='banner')
.sort-block
	.section-title Популярные товары
	.sort-block-i
		.wrap-select
			select(style="width:100%")
				option(value="1") Все
				option(value="2") Сайдинг
				option(value="3") Фасадные панели
				option(value="4") Дренажные системы
				option(value="5") Газонная решеткa
				option(value="6") Водосточные системы
				option(value="7") Внутренняя отделка

	//- .scroll-slider.product-slider

	.swiper-container.swiper-product
		.swiper-wrapper
			.swiper-slide
				img(src="%=static=%img/content/product1.png")
				.title Сайдинг «Канада Плюс»
				p   Цвет: фисташковый
				p   Цена:
					strong 1 500 р.
					|| за уп.
			.swiper-slide
				img(src="%=static=%img/content/product1.png")
				.title Сайдинг «Канада Плюс»
				p   Цвет: фисташковый
				p   Цена:
					strong 1 500 р.
					| | за уп.
			.swiper-slide
				img(src="%=static=%img/content/product1.png")
				.title Сайдинг «Канада Плюс»
				p   Цвет: фисташковый
				p   Цена:
					strong 1 500 р.
					| | за уп.
			.swiper-slide
				img(src="%=static=%img/content/product1.png")
				.title Сайдинг «Канада Плюс»
				p   Цвет: фисташковый
				p   Цена:
					strong 1 500 р.
					| | за уп.
			.swiper-slide
				img(src="%=static=%img/content/product1.png")
				.title Сайдинг «Канада Плюс»
				p   Цвет: фисташковый
				p   Цена:
					strong 1 500 р.
					| | за уп.
			.swiper-slide
				img(src="%=static=%img/content/product1.png")
				.title Сайдинг «Канада Плюс»
				p   Цвет: фисташковый
				p   Цена:
					strong 1 500 р.
						| | за уп.

		.swiper-scrollbar.scroll-blue

	.wrap-btn
		a.btn.btn-red(href="#") В каталог
