
mixin swiper-svg()
	h1 Не забудьте про:
	.swiper-container.swiper-photo.swiper-svg

		.swiper-wrapper(data-snap-ignore="true")
			//- - var options = ['Водостоки','Фасадные панели','Газонная решетка','Наличники','Дренажные системы','Кровля','Сайдинг', 'Фасадные панели'];
			//- 	- for option in options
			.swiper-slide
				include ./assets/drain.svg
				h3 Водостоки
			.swiper-slide
				include ./assets/interior_trim.svg
				h3 Фасадные панели
			.swiper-slide
				include ./assets/lawn_panel.svg
				h3 Газонная решеткa
			.swiper-slide
				include ./assets/mount.svg
				h3 Наличники
			.swiper-slide
				include ./assets/rainwater_system.svg
				h3 Дренажные системы
			.swiper-slide
				include ./assets/roof.svg
				h3 Кровля
			.swiper-slide
				include ./assets/siding.svg
				h3 Сайдинг
			.swiper-slide
				include ./assets/the_front_panel.svg
				h3 Фасадные панели
		.swiper-scrollbar.scroll-blue
