// .swiper-container.swiper-*
// 	.swiper-wrapper(data-snap-ignore="true")
// 		.swiper-slide


.swiper-container
	margin 0 0 1em
	padding 2em 0

.swiper-wrapper(data-snap-ignore="true")
	//justify-content flex-end //space-around //center
	//align-content center

.swiper-slide
	//flex-shrink: 0
	//flex-grow:
	text-align center

	//img
	.title
		font-size 16px;
		line-height: 20px;
		font-weight: bold;
		//margin:0 auto;
		//padding-bottom 25px;
		min-height: 45px;

// модификации
/*.swiper-product*/
	/*.swiper-slide*/
		/*width 60%*/

/*.swiper-photo*/
	/*.swiper-slide*/
		/*width 80%*/

.swiper-svg
	.swiper-slide
		width 50%
.swiper-container.swiper-paging
	.swiper-slide
		background: linear-gradient(top, #ffffff,#f4f4f6);
		border 1px solid #dddddd
		width 165px
		height 135px
		@media (min-width:600px)
			width 220px
			height 180px;
		&.swiper-slide-active
			.title
				color #444
			.group_SVG
				color #444
		&.current-page
			background #2e8bc7
			border-color  #2e8bc7
			.title
				color #ffffff
			&.swiper-slide-active
				.title
					color #ffffff
				.group_SVG
					color #ffffff
		img
			max-width 70px
			max-height: 70px
			margin 10px 0 8px
			@media (min-width:600px)
				max-width 90px
				max-height: 90px
				margin 10px 0
		.title
			color #444
			font-size 18px
			line-height: 21px
			display: block
			font-weight normal

.swiper-product .swiper-slide
	width 185px
	text-align left
	color #444444
	@media (min-width:600px)
		width 240px
.swiper-photo .swiper-slide
	width 260px
	@media (min-width:600px)
		width 420px
.swiper-sub_product.swiper-product
	.swiper-slide
		text-align left
		color #815b5e
		.title
			max-width: 145px;
			margin 0 auto
.wrap-product-slider
	&.tab-item
		display: block
	.double-tab
		.item
			height 39px;
			line-height: 37px
			&.dbl-row
				line-height: 18px;

	img
		max-width 100%
	.list
		padding-top 10px
.swiper-container.swiper-container-horizontal
	padding:0 0 2em
.swiper-container.swiper-product
	dl
		width 145px
	dd.large
		display: block
		width 100%
	.wrap-img
		border 1px solid #e9e9e9
		margin-bottom: 5px