// .swiper-container.swiper-*
// 	.swiper-wrapper
// 		.swiper-slide


.swiper-container
	margin 0 0 1em
	padding 2em 0

.swiper-wrapper
	//justify-content flex-end //space-around //center
	//align-content center

.swiper-slide
	//flex-shrink: 0
	//flex-grow:
	text-align center

	//img
	.title
		font-size 16px;
		line-height: 20px;
		font-weight: bold;
		//margin:0 auto;
		//padding-bottom 25px;
		min-height: 45px;

// модификации
.swiper-product
	.swiper-slide
		width 60%

.swiper-photo
	.swiper-slide
		width 80%

.swiper-svg
	.swiper-slide
		width 50%