

// swiper-slider
.scroll-slider
	&.simple-slider
		padding-bottom 30px
		.swiper-container
			padding: 14px 13px 23px;
			box-sizing: content-box;
			width: 100%;
			left: -13px;
			position: relative;
			.swiper-slide
				width 90%
	.swiper-container
		position relative
		padding 14px 0px 23px
		box-sizing: content-box
	.swiper-slide
		width 80%
	.wrap-img
		display: block
		position: relative
		margin 0 auto
		text-align center
		img
			display: inline-block
	&.product-slider
		.swiper-slide
			width: 60%

.product-slider
	padding-bottom: 30px;
	.swiper-slide
		.wrap-img
			padding-bottom: 5px;
		.title
			color #444;
			font-size 16px;
			line-height: 20px;
			display: block
			font-weight: bold;
			margin:0 auto;
			padding-bottom 25px;
			min-height: 45px;
			text-align:left;
			width 205px
		p
			color #444;
			font-size 16px;
			text-align:left;
			line-height: 20px;
			display: block
			font-weight: normal;
			margin:0 auto;
			width 205px
			padding-bottom 10px;
		strong
			font-weight bold;

// />swiper-slider
