h1 H1 Heading
h2 H2 Heading
p.clr_lite Text
p Text
.date Date 24.02.2016

p Руку при оценке качества восприятия макета благодаря чему появляется возможность получить более. Разной частотой, имеется разница в книгопечатании еще в длине наиболее распространенных слов. Различных языках теиные буквы. Использованием lorem ipsum на руку. Использовать в качестве рыбы текст этот.айтах.

figure
	img(src="%=static=%img/assets/type_page/figure.jpg", alt="")
	figcaption Оборудование. Компания «Альта-Профиль» с полной ответственностью.

.poster.pstr_1
	p Сайдинг <br/>«Альта-Профиль»
	p таким может быть специальный врез на странице
	a.btn.btn-blue(href="") Читать

p На кириллический контент – написание символов. Символов на латыни и т.д имеет никакого. Сегодня существует несколько вариантов lorem ipsum. Своим появлением lorem кириллице значительно.

.poster.pstr_2
	p Сайдинг <br/>«Альта-Профиль»
	p таким может быть специальный врез на странице





p На кириллический контент – написание символов. Символов на латыни и т.д имеет никакого. Сегодня существует несколько вариантов lorem ipsum. Своим появлением lorem кириллице значительно.

blockquote Можно сколько угодно фантазировать на тему: «кто же больше всего выпустил сайдинга в том или ином году»
	cite Александр Петровский


//- 
//- Оборудование, лицензии
//- и технологии для производства винилового сайдинга.
//- 
//- — Александр Петровский, 
//- генеральный директор 
//- компании «Альта-Профиль»
//- 

p Георешетка проста в применении и благодаря гибкости принимает форму поверхности.

h4 Область применения:
ul.blue-dot
	li Газонное покрытие;
	li Покрытие для детских игровых площадок;
	li Обрамление водной зоны или бассейна;

ol 
	li Впервые применяется усиленный, антиураганный замок
	li Впервые применяется усиленный, антиураганный замок 

ul
	li — Мы первые начинаем производить ламинированный сайдинг типа «Валдай».
	li — Появление коллекции «Байкал» - первый 3-х переломный сайдинг
	li — Впервые применяется усиленный, антиураганный замок



.label.lbl-ok
	p Отлично!
	p Таким мы можем сделать информационный врез
.label.lbl-stop
	p Стоп!
	p Таким мы можем сделать информационный врез
.label.lbl-alert
	p Внимание!
	p Таким мы можем сделать информационный врез


._red
	._red-number 15 %
	._red-text На столько наша продукция стала популярнее в 2016 году по итогам журнала Billboard.

._blue
	._blue-number 7,5%
	._blue-text Повысили производственные мощи благодаря расширению площади нашего завода в городе щербинка

p На кириллический контент – написание символов. Символов на латыни и т.д имеет никакого. Сегодня существует несколько вариантов lorem ipsum. Своим появлением lorem кириллице значительно.


.example
	.example-bg
	img(src="%=static=%img/assets/lawngrids_page/example_lawngrids.png", alt="")





h1 Причины использовать газонные решетки

h2 Не требует ухода
p Земля и скошенная трава не скап-ливаются в ячейках решетки, чистка не требуется. Косить траву на таком участке значительно удобнее, чем на обычном газоне.

h2 Срок установки 1 день
p Экорешетку можно перевозить в легко-вом автомобиле. Установка 1 м2 зани-мает в среднем 20 минут. На небольшом участке экорешетку можно установить за 1 день.

p На кириллический контент – написание символов. Символов на латыни и т.д имеет никакого. Сегодня существует несколько вариантов lorem ipsum. Своим появлением lorem кириллице значительно. В книгопечатании еще в качестве рыбы. К обитателям водоемов получить более длинный неповторяющийся набор. Абзацев, отступов и даже с использованием lorem ipsum. При оценке качества восприятия макета наиболее распространенных слов который планируется использовать. Текста исключительно демонстрационная, то и смысловую нагрузку.
