// - 
.section-white
	h1 H1 Heading
	h2 H2 Heading
	p.clr_lite Text
	p Text
	time Date 24.02.2016

	p Руку при оценке качества восприятия макета благодаря чему появляется возможность получить более. Разной частотой, имеется разница в книгопечатании еще в длине наиболее распространенных слов. Различных языках теиные буквы. Использованием lorem ipsum на руку. Использовать в качестве рыбы текст этот.айтах.

	figure
		img(src="%=static=%img/assets/type_page/figure.jpg", alt="")
		figcaption Оборудование. Компания «Альта-Профиль» с полной ответственностью.



//poster до края

.poster.pstr_1
	p Сайдинг <br/>«Альта-Профиль»
	p таким может быть специальный врез на странице
	a.btn.btn-blue(href="") Читать

.section-white
	p На кириллический контент – написание символов. Символов на латыни и т.д имеет никакого. Сегодня существует несколько вариантов lorem ipsum. Своим появлением lorem кириллице значительно.

.poster.pstr_2
	p Сайдинг <br/>«Альта-Профиль»
	p таким может быть специальный врез на странице





.section-white

	p На кириллический контент – написание символов. Символов на латыни и т.д имеет никакого. Сегодня существует несколько вариантов lorem ipsum. Своим появлением lorem кириллице значительно.

	blockquote Можно сколько угодно фантазировать на тему: «кто же больше всего выпустил сайдинга в том или ином году»
		cite Александр Петровский

	.quote Оборудование, лицензии и технологии для производства винилового сайдинга.

		cite — Александр Петровский, генеральный директор компании «Альта-Профиль»


	p Георешетка проста в применении и благодаря гибкости принимает форму поверхности.

	h4 Область применения:
	ul.blue-dot
		li Газонное покрытие;
		li Покрытие для детских игровых площадок;
		li Обрамление водной зоны или бассейна;

	ol.ol
		li Впервые применяется усиленный, антиураганный замок
		li Впервые применяется усиленный, антиураганный замок 

	ul.ul
		li Мы первые начинаем производить ламинированный сайдинг типа «Валдай».
		li Появление коллекции «Байкал» - первый 3-х переломный сайдинг
		li Впервые применяется усиленный, антиураганный замок



	.label.lbl-ok
		i.js_label-close ✖
		p Отлично!
		p Таким мы можем сделать информационный врез
	.label.lbl-stop
		i.js_label-close ✖
		p Стоп!
		p Таким мы можем сделать информационный врез
	.label.lbl-alert
		i.js_label-close ✖
		p Внимание!
		p Таким мы можем сделать информационный врез

	p._bdb На кириллический контент – написание символов. Символов на латыни и т.д имеет никакого. Сегодня существует несколько вариантов lorem ipsum. Своим появлением lorem кириллице значительно.

	a.btn.btn-blue(href="") Читать


	._grey
		._grey-number 150
		._grey-text вариантов <br>отделки



	._red
		._red-number 15 %
		._red-text На столько наша продукция стала популярнее в 2016 году по итогам журнала Billboard.

	._blue
		._blue-number 7,5%
		._blue-text Повысили производственные мощи благодаря расширению площади нашего завода в городе щербинка



	.faq-question
		p Какая цена на монтаж решетки?
		.js_expander-trigger.trigger_link Показать ответ
		.js_expander-content
			| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente magnam nulla incidunt provident! Laboriosam velit, ex voluptates tempore voluptatum labore facilis rerum, aliquid maiores ipsum, sit consectetur, voluptate obcaecati culpa.
	.faq-question
		p Я уже заказал у вас решетку. Надо ли зимой ее убирать?
		.js_expander-trigger.trigger_link Показать ответ
		.js_expander-content
			| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente magnam nulla incidunt provident! Laboriosam velit, ex voluptates tempore voluptatum labore facilis rerum, aliquid maiores ipsum, sit consectetur, voluptate obcaecati culpa.
	.faq-question
		p Я боюсь, что решетка будет забиваться и трава перестанет расти. Придется ли чистить решетку?
		.js_expander-trigger.trigger_link Показать ответ
		.js_expander-content
			| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente magnam nulla incidunt provident! Laboriosam velit, ex voluptates tempore voluptatum labore facilis rerum, aliquid maiores ipsum, sit consectetur, voluptate obcaecati culpa.
	.faq-question
		p Долго ли устанавливать решетку?
		.js_expander-trigger.trigger_link Показать ответ
		.js_expander-content
			| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente magnam nulla incidunt provident! Laboriosam velit, ex voluptates tempore voluptatum labore facilis rerum, aliquid maiores ipsum, sit consectetur, voluptate obcaecati culpa.
	.faq-question
		p Где можно заказать решетку с доставкой и установкой для экопарковки?
		.js_expander-trigger.trigger_link Показать ответ
		.js_expander-content
			| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente magnam nulla incidunt provident! Laboriosam velit, ex voluptates tempore voluptatum labore facilis rerum, aliquid maiores ipsum, sit consectetur, voluptate obcaecati culpa.

	.example
		.example-bg
		img(src="%=static=%img/assets/lawngrids_page/example_lawngrids.png", alt="")





	h1 Причины использовать газонные решетки

	h2 Не требует ухода
	p Земля и скошенная трава не скап-ливаются в ячейках решетки, чистка не требуется. Косить траву на таком участке значительно удобнее, чем на обычном газоне.

	h2 Срок установки 1 день
	p Экорешетку можно перевозить в легко-вом автомобиле. Установка 1 м2 зани-мает в среднем 20 минут. На небольшом участке экорешетку можно установить за 1 день.


	.table-responsive
		table.data-table
			tr
				th Наименование
				th Количество
				th Адрес
			tr
				td 1.Шплинт
				td 213
				td г. Москва, Волжская, 19 
			tr
				td 2.Болт
				td 4
				td г. Москва, Волжская, 19
			tr
				td 3.Панель
				td 57
				td г. Москва, Волжская, 19
			tr
				td 2.Кровля
				td
					| 7 м
					sup 2
				td г.Москва, Волжская, 19	



	p На кириллический контент – написание символов. Символов на латыни и т.д имеет никакого. Сегодня существует несколько вариантов lorem ipsum. Своим появлением lorem кириллице значительно. В книгопечатании еще в качестве рыбы. К обитателям водоемов получить более длинный неповторяющийся набор. Абзацев, отступов и даже с использованием lorem ipsum. При оценке качества восприятия макета наиболее распространенных слов который планируется использовать. Текста исключительно демонстрационная, то и смысловую нагрузку.
