figure

  margin 4em 0 2em
  text-align center

figcaption
  text-align left

  color #777
  padding-left 1em
  position relative
  &:before
    content: '—'
    position absolute
    text-indent: -1.2em




.poster
  font-weight lighter
  margin 0 auto .75em
  color #FFF
  width 320px
  height 217px

  display flex
  flex-direction column
  justify-content center

  text-align center
  padding 1em

  font-size 1.2em

  //reset
  p:first-child
  .btn
    margin-bottom 0

  p:first-child
    font-weight bold
    font-size 25px
    text-transform uppercase
    line-height 130%
    margin-bottom 10px
  .btn
    border 1px solid #f1f1f1
  &.pstr_1
    background url('%=static=%assets/type_page/bg_1.jpg') no-repeat
  &.pstr_2
    background url('%=static=%assets/type_page/bg_2.jpg') no-repeat


._grey
  position relative
  &-number
    color: #fff;
    font-size: 65px;
    line-height: 65px;
    letter-spacing: -1px;
    margin-bottom: 3px;
    //display: block;
    font-weight: bold;
    //text-shadow: 0 5px 0 #e7e7e7, 0 15px 8px rgba(0,0,0,0.24);
    text-shadow: 0 5px 8px rgba(0,0,0,0.24), 1px 2px 15px rgba(0, 0, 0, 0.3);
  &-text
    position absolute
    top: 1.4em
    left: 6em
    font-weight bold
    color color-light-blue

._red
  color: color-red
  font-weight: bold
  text-align center
  &-text
    font-size 18px
    text-transform uppercase
    line-height 1.4
  &-number
    line-height 1
    font-size: 138px
    letter-spacing: -15px
    //text-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2)
    text-shadow: 0 4px 0 #eee, 0 15px 15px rgba(0,0,0,0.24)

._blue
  color: color-light-blue
  font-weight: bold
  text-align center
  line-height 1.6
  margin-bottom 4em
  &-text
    text-transform uppercase
  &-number
    font-size: 74px


blockquote
  border-bottom 2px solid color-light-blue
  border-top 2px solid color-light-blue

  padding 1.2em
  margin 2em 0

  text-align center

  color: color-light-blue
  font-size 18px
  line-height 1.4em
  cite
    display block
    padding-top 1em
    font-size 14px

.quote

  margin 2em 0
  padding 1.4em 1em
  border 1px solid #DDD
  border-radius: 10px
  background: linear-gradient(0deg, #f4f4f6 0%, #ffffff 100%);
  position relative

  font-size 18px
  line-height 140%

  //overflow hidden
  cite

    margin 1em 0 0 30%

    color #777
    font-size 12px
    line-height 150%//18px
    display inline-block
    text-align right



  &:after
    content: ''
    position absolute
    bottom -15px
    right 2em
    width 16px
    height 15px
    background url('%=static=%assets/type_page/quote-arow.png') no-repeat




._bdb
  border-bottom 2px solid color-light-blue
  padding-bottom: 1em
  margin-bottom: 2.2em




.label
  padding 1.4em 2em 1.4em 4.2em
  margin 3em 0
  position relative

  .js_label-close
    cursor pointer
    position absolute
    right 0
    top 0
    padding .5em .6em
    font-size 1.4em
    color rgba(0, 0, 0, .3);
    //&:before




  p //reset
    margin-bottom 0

.lbl-ok
  color #b9f9c6
  background url('%=static=%assets/type_page/label-ok.png') 1em 1.4em no-repeat #21b139
.lbl-stop
  color #e3e3e3
  background url('%=static=%assets/type_page/label-stop.png') 1em 1.4em no-repeat #e84c3d

.lbl-ok
.lbl-stop
  p:first-child
    color #FFF

.lbl-alert
  color #777
  background url('%=static=%assets/type_page/label-alert.png') 1em 1.4em no-repeat #e0e0e0


.faq-question
  padding 2em 0
  border-top 1px solid #CCC

  //link MORE
  .active
    color #999

  p:first-child
    font-weight bold
    //margin-bottom 0 //reset





.table-responsive
  @media screen and (max-width: 720px)
    width: 100%;
    margin 3em 0 2em
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;

    .data-table
      margin 0




.data-table
  margin 3em 0 2em
  //border-collapse collapse
  width 100%
  tr
    background #FFF //#f5f5f5
  tr:nth-child(even)
    background #cce3f1
  td,th
    border: 2px solid #fff
    padding: 15px 10px
  th
    background: #0071bb
    color: #fff
    font-size 16px

  td
    white-space: nowrap
    text-align center
    &:first-child
      text-align left
