section.wrap-feedback.section-blue
    .wrap-item
        a.btn-drop(href="#") Отзывы
            .icon-arrow
        .drop-list.feedback-list
            .item
                p
                  strong Михаил,
                  |г. Санкт-Петербург
                p Самым известным «рыбным» текстом является знаменитый Lorem ipsum. Считается, что впервые его применили... книгопечатании еще в XVI веке. Своим появлением Lorem ipsum обязан древнеримскому философу Цицерону, ведь именно из его трактата «О пределах добра и зла» средневековый книгопечатник вырвал отдельные фразы и слова, получив текст-«рыбу», широк.
            .item
                p
                    strong Екатерина,
                    |г. Казань «ОАО Спектр»
                p Самым известным «рыбным» текстом является знаменитый Lorem ipsum. Считается, что впервые его применили... книгопечатании еще в XVI веке.
            .item
                p
                    strong Екатерина,
                    | г. Казань «ОАО Спектр»
                p Самым известным «рыбным» текстом является знаменитый Lorem ipsum. Считается, что впервые его применили... книгопечатании еще в XVI веке.
            .hidden
                .item
                    p
                        strong Михаил,
                        | г. Санкт-Петербург
                    p Самым известным «рыбным» текстом является знаменитый Lorem ipsum. Считается, что впервые его применили... книгопечатании еще в XVI веке. Своим появлением Lorem ipsum обязан древнеримскому философу Цицерону, ведь именно из его трактата «О пределах добра и зла» средневековый книгопечатник вырвал отдельные фразы и слова, получив текст-«рыбу», широк.
                    .item
                        p
                            strong Екатерина,
                            | г. Казань «ОАО Спектр»
                        p Самым известным «рыбным» текстом является знаменитый Lorem ipsum. Считается, что впервые его применили... книгопечатании еще в XVI веке.
                    .item
                        p
                            strong Екатерина,
                            | г. Казань «ОАО Спектр»
                        p Самым известным «рыбным» текстом является знаменитый Lorem ipsum. Считается, что впервые его применили... книгопечатании еще в XVI веке.

            .wrap-btn
                a.btn-more(href="#") Показать ещё
                a.link(href="#") Перейти на страницу отзывов
    .wrap-item
        a.btn-drop(href="#") Фото продукции
            .icon-arrow
        .drop-list
            .scroll-slider.gallery-slider
               .swiper-container
                   .swiper-wrapper
                       .swiper-slide
                           .wrap-img
                               img(src="%=static=%img/content/slide257x182.jpg")
                       .swiper-slide
                           .wrap-img
                               img(src="%=static=%img/content/slide257x182.jpg")
                       .swiper-slide
                           .wrap-img
                               img(src="%=static=%img/content/slide257x182.jpg")
                       .swiper-slide
                           .wrap-img
                               img(src="%=static=%img/content/slide257x182.jpg")
                       .swiper-slide
                           .wrap-img
                               img(src="%=static=%img/content/slide257x182.jpg")
                       .swiper-slide
                           .wrap-img
                               img(src="%=static=%img/content/slide257x182.jpg")
                   .swiper-scrollbar