
.news-list
	padding-bottom 5px
.news
	padding-bottom 5px
	border-bottom 1px solid #d3d3d3
	margin-bottom 15px
	position relative
	&:last-child
		border-bottom 0
	.date
		color #999999
		position absolute
		right -4px
		top 4px
		display block
		font-size 11px
		line-height 12px
	p
		font-size 14px
		line-height 18px
		display block
		color color-dark
		padding-bottom 10px
		word-wrap break-word


	h2
		padding-right 70px
//
// .news-title
// 	font-size 18px
// 	line-height 20px
// 	display block
// 	color color-dark
// 	padding-bottom 7px
// 	font-weight bold
// 	padding-right 70px
