.section-title Фотографии
.scroll-slider.simple-slider
    .swiper-container
        .swiper-wrapper
            .swiper-slide
                .wrap-img
                    img(src="%=static=%img/content/slide257x182.jpg")
            .swiper-slide
                .wrap-img
                    img(src="%=static=%img/content/slide257x182.jpg")
            .swiper-slide
                .wrap-img
                    img(src="%=static=%img/content/slide257x182.jpg")
            .swiper-slide
                .wrap-img
                    img(src="%=static=%img/content/slide257x182.jpg")
            .swiper-slide
                .wrap-img
                    img(src="%=static=%img/content/slide257x182.jpg")
            .swiper-slide
                .wrap-img
                    img(src="%=static=%img/content/slide257x182.jpg")
        .swiper-scrollbar.scroll-blue
a.btn.btn-blue(href="#") Подробнее о компании
