.intro_section(style="height:438px")

	.center  «Производственная база «Альта-Профиль» имеет все необходимое для изготовления широкого спектра облицовочных панелей: собственные цеха для производства, условия для декорирования панелей, цеха для ламинирования, лаборатория инновационных исследований и многое другое».

	img(src="%=static=%img/content/man2.png", alt="")
.section-white


.section-white
	h1 Производство


	h2 «Альта-Профиль» — лучшее производство сайдинга на сегодняшний день


	p Свое производство сайдинга компания «Альта-Профиль» начала еще в 1999 году, став первопроходцем на российском рынке экструзионной промышленности. На сегодняшний день производственная база компании представляет собой крупнейший в Европе мультипрофильный комплекс для выпуска разнообразной облицовочной продукции нескольких торговых марок.

	img(src="%=static=%img/assets/manufacture_page/s1.png", alt="")

	.v_ritm
		a(href="") 1999 г. — ввод в действие первой экструзионной линии по выпуску ПВХ-вагонки.


img.img_FW(src="%=static=%img/assets/manufacture_page/slide_1.jpg", alt="")
.section-white

	.statistics
		p
			b 270 000 км
			| сайдинга произведено компанией «Альта-Профиль» за 10 лет
		p
			b 17 млн. км2
			| фасадных панелей выпущено, спустя 2 года после установки специализи-рованной линни производства
		p
			b 10 000 км
			| водосточных систем произведено на нашем новом заводе с 2002 года


	img(src="%=static=%img/assets/manufacture_page/s1.png", alt="")

	p Сюбаев Т.Р., мастер смены цеха цокольного сайдинга

	p Да, наш производственный процесс сегодня практически полностью авто- матизирован. И все же «человеческие руки» в нем занимают не последнее место. Коллектив компании - это профессионалы, преданные своему делу и относящиеся к нему с большой ответственностью. 

	p «Альта-Профиль», по моему мнению, - образец успешного сочетания передовых технологий и квалифи- цированного труда.


	hr
	h2 Производственные мощи

	p На сегодняшний день компания представляет собой полностью автономное производство с использованием современных технологий, которые позволяют самостоятельно разрабатывать рецептуру для любого пластикового изделия и производить инновационный товар для широкого круга покупателей.

	p На сегодняшний день компания «Альта-Профиль» представляет собой мощный холдинг, состоящий из трех производственных площадок. Австрийские экструзионные линии THEYSON выпускаютсайдинг со скоростью 40 метров в минуту. 14 термопластавтоматов Krauss-Maffei и Hotian изготавливают фасадные панели.

	hr
	h3 Матиек С.И., наладчик оборудования

	p За все время работы наше оборудование не разу не подводило, притом, что рабочий процесс не останавливается ни на минуту.

	hr

	p Сегодня в «Альта-Профиль» производ- ственный процесс автоматизирован. Так при изготовлении пластиковых панелей с декоративной отделкой усовершенствован электронный контроль качества не только готового материала, но и сырья. Это позволяет контролировать на электронном уровне, например, цветовой баланс продукции.

	p Техническое оснащение для «Альта-Профиль» - это переменная величина постоянного совершенствования.



	.swiper-container.swiper-photo
		.swiper-wrapper(data-snap-ignore="true")
			.swiper-slide
				img(src="%=static=%img/assets/manufacture_page/slide_1.jpg")
				p Участок производства винилового и акрилового сайдинга
			.swiper-slide
				img(src="%=static=%img/assets/manufacture_page/slide_2.jpg")
				p Участок производства винилового и акрилового сайдинга
			.swiper-slide
				img(src="%=static=%img/assets/manufacture_page/slide_3.jpg")
				p Участок производства винилового и акрилового сайдинга
			.swiper-slide
				img(src="%=static=%img/assets/manufacture_page/slide_4.jpg")
				p Участок производства винилового и акрилового сайдинга

		.swiper-scrollbar.scroll-blue



img.img_FW(src="%=static=%img/assets/manufacture_page/fw_.jpg", alt="")
.section-white

	p Процесс отгрузки и загрузки осуществляется за считанные минуты благодоря быстрой и слаженной работе сотрудников компании.



	.z60
		i 60
	p именно столько торговых компаний в день может обслуживать мощный складской комплекс «Альта-Профиль».
