.z60
  text-align right
  position relative
  *:before
    content: ''
    position absolute
    left 50%
    transform: translateX(-20px);
    //display block
    width 161px
    height 121px
    background url(%=static=%assets/manufacture_page/storage.png) no-repeat

  i
    display inline-block

    padding-right 50%
    color color-light-blue
    font-size 125px
    font-weight 700
    line-height 1

// .swiper-manufacture
//   .swiper-slide
//     width 277px
