.section-white

	h1 Сайдинг «Alaska», кремовый 
	p.clr_lite Арт. 105687

	.swiper-container.swiper-color
		//- include ../lawngrids/swiper-color
		.swiper-wrapper
			.swiper-slide
				figure.badge
					.badge-sale 6%
					img(src="//placehold.it/250x200/59933C/ffffff", alt="")
			.swiper-slide
				figure.badge
					.badge-sale 6%
					img(src="//placehold.it/250x200/50390C/ffffff", alt="")
			.swiper-slide
				figure.badge
					.badge-sale 6%
					img(src="//placehold.it/250x200/2F2F2F/ffffff", alt="")
			.swiper-slide
				figure.badge
					.badge-sale 6%
					img(src="//placehold.it/250x200/FF7D77/ffffff", alt="")
			.swiper-slide
				figure.badge
					.badge-sale 6%
					img(src="//placehold.it/250x200/F2E841/ffffff", alt="")
			.swiper-slide
				figure.badge
					.badge-sale 6%
					img(src="//placehold.it/250x200/10D8F4/ffffff", alt="")
		.swiper-color-pagination
		.swiper-scrollbar.scroll-blue




	h2 Стоимость: 161 р./шт.
	h2 Количество:

	span
		input(type="text", placeholder="штук")
		i или
		input(type="text", placeholder="м2")

	.as_h1 Итого: 15 761 р.
	a.btn.btn-red(href="#") В корзину

	h2 Дополнительно к заказу:

	//- Система крепления
	//- Болты (10 шт.) — от 1 000 р.
	//- Планка крепежная (5 шт.) — от 3 200 р.
	//- Стяжка металлическая (25 шт.) — 
	//- от 2 000 р. 
	//- Монтаж от производителя





	label.control.checkbox
		input(type="checkbox", name="x")
		i.control-indicator
		| Система крепления
	label.control.checkbox
		input(type="checkbox", name="x")
		i.control-indicator
		| Болты (10 шт.) — от 1 000 р.
	label.control.checkbox
		input(type="checkbox", name="x")
		i.control-indicator
		| Планка крепежная (5 шт.) — от 3 200 р.
	label.control.checkbox
		input(type="checkbox", name="x")
		i.control-indicator
		| Стяжка металлическая (25 шт.) — от 2 000 р.
	label.control.checkbox
		input(type="checkbox", name="x")
		i.control-indicator
		| Монтаж от производителя





	p Конечную стоимость дополнительных услуг, вы сможете уточнить у дилера при оформлении заказа.

	a.btn.btn-red(href="#") Добавить к заказу



	h2 Описание
	dl.param
		dt 
			b Коллекция
		dd 
			a(href="") Аляска
		dt 
			b Область применения
		dd фасад
		dt 
			b Материал
		dd винил
		dt 
			b Фактура поверхности
		dd дерево
		dt 
			b Оттенок
		dd кремовый
		dt 
			b Габариты
		dd 6 000 x 200 x 10 мм
		dt 
			b Площадь панели
		dd 0,6 м2
		dt 
			b Количество в упаковке
		dd 20
		dt 
			b Вес упаковки
		dd 40 кг
		dt 
			b Страна изготовитель
		dd Россия


	.center
		img(src="%=static=%img/assets/cart/Alaska_logo.png", alt="")


	p Новый виниловый сайдинг «ALASKA», выполненный по американским и канадским технологиям, разработан специально для суровых климатических условий России. Особая формула верхнего покрытия панелей от американской компании «Penn Color» надежно защищает панели от УФ-излучения. <a href="#">Подробнее о серии</a>


	h4 Преимущества серии:
	//series features
	ul.series-features
		li 
			img(src="%=static=%img/assets/cart/series-features_1.png", alt="")
			| Новая улучшенная форма панелей
		li
			img(src="%=static=%img/assets/cart/series-features_2.png", alt="")
			| Повышенная морозостойкость
		li
			img(src="%=static=%img/assets/cart/series-features_3.png", alt="")
			| Производится по американскими канадским стандартам

	// -expander
	h2.js_expander-trigger 
		i Ваш дилер
	.js_expander-content

		h2 Выбрать лучшего дилера
		p Программа автоматически подберет для вас лучшего дилера
		a.btn.btn-red(href="#") Выбрать


	h2.js_expander-trigger 
		i Отзывы
	.js_expander-content
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis numquam dolor libero atque assumenda aspernatur iste aperiam cum quis voluptate veniam, ratione doloremque quod ullam illo porro quia sapiente molestiae?


	h2.js_expander-trigger 
		i Монтаж
	.js_expander-content
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos amet placeat nulla molestiae id repellat harum cum! Ut commodi dolores adipisci provident placeat. Nisi culpa, beatae temporibus sit rerum ut.

	h2.js_expander-trigger 
		i Процесс заказа
	.js_expander-content

		ul.counter.ol_counter
			li Вызов замерщика
			li Оформление
			li Оплата
			li Доставка
			li Монтаж

		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, deserunt, veniam non vitae consequatur consectetur nostrum cumque assumenda id molestias suscipit officia error labore. Consequuntur libero, necessitatibus perferendis rem voluptates.

	h1 С сайдингом покупают:



	.swiper-container.swiper-product.swiper-sub_product
		.swiper-wrapper
			.swiper-slide

				img(src="%=static=%img/assets/cart/test_sub_product.png")
				.title Профиль D 4,5
				dl
					dt Д
					dd 1 170 мм
					dt Ш
					dd 50 мм
					dt В
					dd 42 мм

			.swiper-slide
				img(src="%=static=%img/assets/cart/test_sub_product.png")
				.title Профиль D 4,5
				dl
					dt Д
					dd 1 170 мм
					dt Ш
					dd 50 мм
					dt В
					dd 42 мм

			.swiper-slide
				img(src="%=static=%img/assets/cart/test_sub_product.png")
				.title Профиль D 4,5
				dl
					dt Д
					dd 1 170 мм
					dt Ш
					dd 50 мм
					dt В
					dd 42 мм


		.swiper-scrollbar.scroll-blue

	.section-title Популярные цвета
	.wrap-select
		select
			option(value="1") Все
			option(value="2") color_1
			option(value="3") color_2
			option(value="4") color_3




	.swiper-container.swiper-product
		.swiper-wrapper
			.swiper-slide
				img(src="%=static=%img/content/product1.png")
				.title Сайдинг «Канада Плюс»
				p Цвет: фисташковый
				p Цена:
					strong 1 500 р.
					|| за уп.
			.swiper-slide
				img(src="%=static=%img/content/product1.png")
				.title Сайдинг «Канада Плюс»
				p Цвет: фисташковый
				p Цена:
					strong 1 500 р.
					|| за уп.
			.swiper-slide
				img(src="%=static=%img/content/product1.png")
				.title Сайдинг «Канада Плюс»
				p Цвет: фисташковый
				p Цена:
					strong 1 500 р.
					|| за уп.
			.swiper-slide
				img(src="%=static=%img/content/product1.png")
				.title Сайдинг «Канада Плюс»
				p Цвет: фисташковый
				p Цена:
					strong 1 500 р.
					|| за уп.
			.swiper-slide
				img(src="%=static=%img/content/product1.png")
				.title Сайдинг «Канада Плюс»
				p Цвет: фисташковый
				p Цена:
					strong 1 500 р.
					|| за уп.
			.swiper-slide
				img(src="%=static=%img/content/product1.png")
				.title Сайдинг «Канада Плюс»
				p Цвет: фисташковый
				p Цена:
					strong 1 500 р.
					|| за уп.

		.swiper-scrollbar.scroll-blue

	//-.wrap-btn
	a.btn.btn-red(href="#") В каталог



	.swiper-container.swiper-photo.swiper-svg
		h1 Не забудьте про:
		.swiper-wrapper
			.swiper-slide
				img(src="%=static=%img/assets/cart/drain.svg", alt="")
			.swiper-slide
				img(src="%=static=%img/assets/cart/interior_trim.svg", alt="")			
			.swiper-slide
				img(src="%=static=%img/assets/cart/lawn_panel.svg", alt="")
			.swiper-slide
				img(src="%=static=%img/assets/cart/mount.svg", alt="")
			.swiper-slide
				img(src="%=static=%img/assets/cart/rainwater_system.svg", alt="")
			.swiper-slide
				img(src="%=static=%img/assets/cart/roof.svg", alt="")
			.swiper-slide
				img(src="%=static=%img/assets/cart/siding.svg", alt="")
			.swiper-slide
				img(src="%=static=%img/assets/cart/the_front_panel.svg", alt="")
		.swiper-scrollbar.scroll-blue


	p У таких звезд в окнах видимости между. Внегалактических объектов кроме немногочисленных близких, которые случайным. Прозрачна, радиоизлучение можно зарегистрировать, а разрешающая сила радиотелескопов. Слабые галактики тоже будет понятно. Исследованиям радиозвезд их расстояний и распределенных по всему. Облаками пылевой материи после открытия.
