.series-features
	padding-bottom 2em
	margin-bottom 2.2em
	border-bottom 1px solid #CCC
	li
		position relative

		padding 1em 0
		padding-left 80px
	img
		position absolute
		left 0



// TODO cart.jade
.swiper-sub_product
	color #815b5e
	dl
		width 120px
		margin auto
	dt,dd
		text-align left
		display inline-block
	dt
		width 26px
	dd
		width 90px

.swiper-svg
	.swiper-slide
		background #ddd
		padding 1em 0
		//img,
		svg
			width 140px //viewBox="0 0 60 60"
		.group_SVG
			stroke #444

	.swiper-slide-active
		background color-light-blue
		.group_SVG
			stroke #FFF




.Stock
	color color-light-blue
	border-bottom 1px dashed
	font-size 18px
	padding-left 1em
	//float right
	display inline-block
	&:before
		content '%'
		color #e00c1b
		font-weight bold
		position absolute
		left -1em
