.clr_lite
	color #999


.series-features
	padding-bottom 2em
	margin-bottom 2.2em
	border-bottom 1px solid #CCC
	li
		position relative

		padding 1em 0
		padding-left 80px
	img
		position absolute
		left 0



// TODO cart.jade
.swiper-sub_product
	color #815b5e
	dl
		width 120px
		margin auto
	dt,dd
		text-align left
		display inline-block
	dt
		width 26px
	dd
		width 90px

.swiper-svg
	.swiper-slide
		background #ddd
		padding 1em 0
		//img,
		svg
			width 140px //viewBox="0 0 60 60"
			g
				stroke #444

	.swiper-slide-active
		background color-light-blue
		svg
			g
				stroke #FFF
