.section-white

	h1 Сайдинг «Alaska», кремовый 
	p.clr_lite Арт. 105687

	.swiper-container.swiper-color
		//- include ../lawngrids/swiper-color
		.swiper-wrapper(data-snap-ignore="true")

			- var colors = ['59933C','50390C','2F2F2F','FF7D77','F2E841','10D8F4']
				- for color, i in colors
					.swiper-slide
						figure.badge
							//6%
							.badge-sale #{i+9}%
							img(src="//placehold.it/250x200/#{color}/ffffff", alt="")
		.swiper-color-pagination
		.swiper-scrollbar.scroll-blue


	h2._R Стоимость: 
		b 161 р./шт.


	.js_expander-trigger.Stock 
		b %
		i 
			| Акция
	.js_expander-content
		h2._b Скидка 6% покупателям в «Татьянин день»
		p Спешите только до 01.04.2016 во всех фирменных салонах «Альта-Профиль» в вашем городе.


	h2._b Количество:
	span
		input(type="text", placeholder="штук")
		i или
		input(type="text", placeholder="м2")

	.as_h1._R Итого: 
		b 15 761 р.
	a.btn.btn-red(href="#") В корзину

	h2 Дополнительно к заказу:

	form.Additionally(action="")

		label.control.checkbox
			input(type="checkbox", name="x")
			i.control-indicator
			| Система крепления
		label.control.checkbox
			input(type="checkbox", name="x")
			i.control-indicator
			| Болты (10 шт.) — от 1 000 р.
		label.control.checkbox
			input(type="checkbox", name="x")
			i.control-indicator
			| Планка крепежная (5 шт.) — от 3 200 р.
		label.control.checkbox
			input(type="checkbox", name="x")
			i.control-indicator
			| Стяжка металлическая (25 шт.) — от 2 000 р.
		label.control.checkbox
			input(type="checkbox", name="x")
			i.control-indicator
			| Монтаж от производителя

	p Конечную стоимость дополнительных услуг, вы сможете уточнить у дилера при оформлении заказа.

	a.btn.btn-red(href="#") Добавить к заказу


	hr
	h2 Описание
	dl.param
		dt 
			b Коллекция
		dd 
			a(href="") Аляска
		dt 
			b Область применения
		dd фасад
		dt 
			b Материал
		dd винил
		dt 
			b Фактура поверхности
		dd дерево
		dt 
			b Оттенок
		dd кремовый
		dt 
			b Габариты
		dd 6 000 x 200 x 10 мм
		dt 
			b Площадь панели
		dd 0,6 м2
		dt 
			b Количество в упаковке
		dd 20
		dt 
			b Вес упаковки
		dd 40 кг
		dt 
			b Страна изготовитель
		dd Россия


	.center
		img(src="%=static=%img/assets/cart_page/Alaska_logo.png", alt="")


	p Новый виниловый сайдинг «ALASKA», выполненный по американским и канадским технологиям, разработан специально для суровых климатических условий России. Особая формула верхнего покрытия панелей от американской компании «Penn Color» надежно защищает панели от УФ-излучения. <a href="#">Подробнее о серии</a>


	h4 Преимущества серии:
	//series features
	ul.series-features
		li 
			img(src="%=static=%img/assets/cart_page/series-features_1.png", alt="")
			| Новая улучшенная форма панелей
		li
			img(src="%=static=%img/assets/cart_page/series-features_2.png", alt="")
			| Повышенная морозостойкость
		li
			img(src="%=static=%img/assets/cart_page/series-features_3.png", alt="")
			| Производится по американскими канадским стандартам

	// -expander
	h2.js_expander-trigger.trigger_dashed 
		i Ваш дилер
	.js_expander-content

		h2 Выбрать лучшего дилера
		p Программа автоматически подберет для вас лучшего дилера

		a.btn.btn-red(href="#") Выбрать

		.best-dealer_counter
			h2 Компания «Авангард»
			ul.dealer_list-param
				li г. Москва, ул. 2-я Магистральная, 19-г
				li 09:00 — 20:00, пн.-пт.
			a.btn.btn-red(href="#") Выбрать

			h2 Компания «Компания»
			ul.dealer_list-param
				li г. Москва, Красная площадь дом 1
				li 10:00 — 10:00, пн.-пт.
			a.btn.btn-red(href="#") Выбрать

			h2 Компания «НИИ Втор Чер Мет Загран Поставка»
			ul.dealer_list-param
				li г. Москва, Таганская дом 10
				li 10:00 — 10:00, пн.-пт.
			a.btn.btn-red(href="#") Выбрать

	h2.js_expander-trigger.trigger_dashed 
		i Отзывы
	//- ОТЗЫВЫ
	.js_expander-content.reviews

		mixin reviews(name, from)
			.reviews_item
				p		
					b #{name}
					|, #{from}
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque nemo, doloribus excepturi error, saepe quos voluptatibus at omnis debitis voluptatum quo reiciendis quaerat corporis architecto cum ea sint

		+reviews('Катя', 'г. Казань «ОАО Спектр»')
		+reviews('Вася', 'г. Москва')
		+reviews('Людмила Ивановна', 'г. Урюпинск')


	h2.js_expander-trigger.trigger_dashed 
		i Монтаж
	.js_expander-content
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos amet placeat nulla molestiae id repellat harum cum! Ut commodi dolores adipisci provident placeat. Nisi culpa, beatae temporibus sit rerum ut.

		p Rem maxime cupiditate in aliquid ipsa magnam amet repudiandae nam vel iure tenetur quisquam numquam, temporibus quo possimus culpa voluptate ipsam sit.

		.wrap-video
			iframe.video(src="http://www.youtube.com/embed/XGSy3_Czz8k?autoplay=0")
			a.btn-play(href="#")

	h2.js_expander-trigger.trigger_dashed 
		i Процесс заказа
	.js_expander-content

		ul.counter.ol_counter
			li Вызов замерщика
			li Оформление
			li Оплата
			li Доставка
			li Монтаж

		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, deserunt, veniam non vitae consequatur consectetur nostrum cumque assumenda id molestias suscipit officia error labore. Consequuntur libero, necessitatibus perferendis rem voluptates.

	mixin swiperProduct()
		.swiper-container.swiper-product.swiper-sub_product
			.swiper-wrapper(data-snap-ignore="true")
				- var x = 4;
				- for (var i=1; i<=x; i++) {
					a(href="#").swiper-slide
						.wrap-img
							img(src="%=static=%img/content/sub_product2.jpg")
						.title Профиль D 4,5
						dl
							dt Д
							dd 1 170 мм
							dt Ш
							dd 50 мм
							dt В
							dd 42 мм
							dd.large (для «Канада плюс»)
				-}
			.swiper-scrollbar.scroll-blue


	hr
	.wrap-product-slider.wrapper-tabs
		h1 С сайдингом покупают:
		.double-tab.clearfix
			a(href="#").item.active Планки
			a(href="#").item.dbl-row Крепежные <br/>  элементы
		.wrap-list
			.list.active
				+swiperProduct()
			.list
				+swiperProduct()

	//- 
	//- .swiper-container.swiper-product.swiper-sub_product
	//- 	h1 С сайдингом покупают:
	//- 	.swiper-wrapper(data-snap-ignore="true")
	//- 		.swiper-slide
	//- 
	//- 			img(src="%=static=%img/assets/cart_page/test_sub_product.png")
	//- 			.title Профиль D 4,5
	//- 			dl
	//- 				dt Д
	//- 				dd 1 170 мм
	//- 				dt Ш
	//- 				dd 50 мм
	//- 				dt В
	//- 				dd 42 мм
	//- 
	//- 		.swiper-slide
	//- 			img(src="%=static=%img/assets/cart_page/test_sub_product.png")
	//- 			.title Профиль D 4,5
	//- 			dl
	//- 				dt Д
	//- 				dd 1 170 мм
	//- 				dt Ш
	//- 				dd 50 мм
	//- 				dt В
	//- 				dd 42 мм
	//- 
	//- 		.swiper-slide
	//- 			img(src="%=static=%img/assets/cart_page/test_sub_product.png")
	//- 			.title Профиль D 4,5
	//- 			dl
	//- 				dt Д
	//- 				dd 1 170 мм
	//- 				dt Ш
	//- 				dd 50 мм
	//- 				dt В
	//- 				dd 42 мм
	//- 
	//- 
	//- 	.swiper-scrollbar.scroll-blue
	//- 
	//- 
	//- 



	.section-title Популярные цвета
	.wrap-select(data-snap-ignore="true")
		select(style="width:100%")
			option(value="1") Все
			option(value="2") color_1
			option(value="3") color_2
			option(value="4") color_3



	+swiper-product()
	//- .swiper-container.swiper-product
	//- 	.swiper-wrapper(data-snap-ignore="true")
	//- 		.swiper-slide
	//- 			img(src="%=static=%img/content/product1.png")
	//- 			.title Сайдинг «Канада Плюс»
	//- 			p Цвет: фисташковый
	//- 			p Цена:
	//- 				strong 1 500 р.
	//- 				|| за уп.
	//- 		.swiper-slide
	//- 			img(src="%=static=%img/content/product1.png")
	//- 			.title Сайдинг «Канада Плюс»
	//- 			p Цвет: фисташковый
	//- 			p Цена:
	//- 				strong 1 500 р.
	//- 				|| за уп.
	//- 		.swiper-slide
	//- 			img(src="%=static=%img/content/product1.png")
	//- 			.title Сайдинг «Канада Плюс»
	//- 			p Цвет: фисташковый
	//- 			p Цена:
	//- 				strong 1 500 р.
	//- 				|| за уп.
	//- 		.swiper-slide
	//- 			img(src="%=static=%img/content/product1.png")
	//- 			.title Сайдинг «Канада Плюс»
	//- 			p Цвет: фисташковый
	//- 			p Цена:
	//- 				strong 1 500 р.
	//- 				|| за уп.
	//- 		.swiper-slide
	//- 			img(src="%=static=%img/content/product1.png")
	//- 			.title Сайдинг «Канада Плюс»
	//- 			p Цвет: фисташковый
	//- 			p Цена:
	//- 				strong 1 500 р.
	//- 				|| за уп.
	//- 		.swiper-slide
	//- 			img(src="%=static=%img/content/product1.png")
	//- 			.title Сайдинг «Канада Плюс»
	//- 			p Цвет: фисташковый
	//- 			p Цена:
	//- 				strong 1 500 р.
	//- 				|| за уп.
	//- 
	//- 	.swiper-scrollbar.scroll-blue

	//-.wrap-btn
	a.btn.btn-red(href="#") В каталог


	hr

	+swiper-svg()
	//- h1 Не забудьте про:
	//- .swiper-container.swiper-photo.swiper-svg
	//- 
	//- 	.swiper-wrapper(data-snap-ignore="true")
	//- 		//- - var options = ['Водостоки','Фасадные панели','Газонная решетка','Наличники','Дренажные системы','Кровля','Сайдинг', 'Фасадные панели'];
	//- 		//- 	- for option in options	
	//- 		.swiper-slide
	//- 			include ./assets/drain.svg
	//- 			h3 Водостоки
	//- 		.swiper-slide
	//- 			include ./assets/interior_trim.svg
	//- 			h3 Фасадные панели
	//- 		.swiper-slide
	//- 			include ./assets/lawn_panel.svg
	//- 			h3 Газонная решеткa
	//- 		.swiper-slide
	//- 			include ./assets/mount.svg
	//- 			h3 Наличники
	//- 		.swiper-slide
	//- 			include ./assets/rainwater_system.svg
	//- 			h3 Дренажные системы
	//- 		.swiper-slide
	//- 			include ./assets/roof.svg
	//- 			h3 Кровля
	//- 		.swiper-slide
	//- 			include ./assets/siding.svg
	//- 			h3 Сайдинг
	//- 		.swiper-slide
	//- 			include ./assets/the_front_panel.svg
	//- 			h3 Фасадные панели
	//- 	.swiper-scrollbar.scroll-blue


	p У таких звезд в окнах видимости между. Внегалактических объектов кроме немногочисленных близких, которые случайным. Прозрачна, радиоизлучение можно зарегистрировать, а разрешающая сила радиотелескопов. Слабые галактики тоже будет понятно. Исследованиям радиозвезд их расстояний и распределенных по всему. Облаками пылевой материи после открытия.
