.series-features
	padding-bottom 2em
	margin-bottom 2.2em
	border-bottom 1px solid #CCC
	li
		position relative

		padding 1em 0
		padding-left 80px
	img
		position absolute
		left 0



// TODO cart.jade
.swiper-sub_product
	// h1
	// 	margin 1em 13px
	// 	text-align center
	color #815b5e
	dl
		width 120px
		margin auto
	dt,dd
		text-align left
		display inline-block
	dt
		width 26px
	dd
		width 90px

.swiper-svg
	margin-bottom 2em
	.swiper-slide
		background #ddd
		padding 1em 0
		h3
			color #444
			margin: 0
			padding: .5em 0 0
		svg
			width 140px //viewBox="0 0 60 60"
		.group_SVG
			stroke #444

	.swiper-slide-active
		background color-light-blue
		.group_SVG
			stroke #FFF
		h3
			color #FFF




.Stock
	color color-light-blue
	border-bottom 1px dashed
	font-size 18px
	padding-left 1em
	//float right
	display inline-block
	&:before
		content '%'
		color #e00c1b
		font-weight bold
		position absolute
		left -1em


//form
.Additionally
	margin-bottom 1em
	& + p
		margin-bottom 2em

.best-dealer_counter
	counter-reset: dealer;
	h2
		color #000
		&:before
			counter-increment: dealer;
			content: counter(dealer) ". ";
