
.page-footer
	background #ffffff
.footer
	margin 0 13px
	.sub-title
		font-size 18px
		line-height 20px
		color #444
		display block
		padding-bottom 20px
		//font-family 'Trebuchet MS',sans-serif
	.wrap-form
		padding-bottom 25px
		position relative
	.form
		display none
		padding-bottom 5px

	.link
		text-decoration underline
		color #444
		fonr-size 14px
		line-height 18px
		display block
		text-align center
		padding-bottom 25px
	.dwnld
		padding-bottom 32px
		
		//h4
		/*
		.title
			font-size 14px
			line-height 18px
			color #444
			padding-bottom 10px
			text-align center
			clear both
			font-weight bold
		*/
		a
			display: block
			width 50%
			text-align center
			float left
	.columns
		padding-top 0
	.col
		float left
		width 50%
		padding-right 10px
		&:last-child
			padding-left 10px
			padding-right 0
		ul
			padding-bottom 38px
		li
			color color-dark
			font-size 14px
			line-height: 33px
		a
			color color-dark
			text-decoration underline
			text-align left
		strong
			display block
			font-weight bold
	.contacts-list
		li
			line-height: 18px
			padding-bottom 6px


.email
	display block
	color color-dark
	margin-bottom 45px
	strong
		text-decoration underline

// ебучая лента
.stripe
	display block
	position relative
	width 100%
	margin-bottom 10px






// TODO социальные иконки единообразно
//
.wrap-soc
	display block
	padding-bottom 13px
	text-align center

.soc-links
	display inline-block
	position relative
	a
		float left
		margin 0 10px
		display block
		border-radius 1px







.icon-man
	display block
	margin 0 auto
.footer-btm
	background color-blue
	text-align center
	padding-top 8px
	p
		color #FFF
		display block
		padding-bottom 16px
	a
		color #FFF
		text-decoration underline
	.logo
		padding-bottom 5px
		img
			width 79px


//Сбор негатива

.msg
	position: absolute
	left 0
	top 0
	bottom 55px
	width 100%
	background #FFF
	opacity 0
	visibility hidden
	transition 	visibility .3s ease 0s ,opacity .3s ease 0s
	.btn-close
		position absolute
		z-index 10
		width 50px
		height 50px
		display block
		right -20px
		top 20px
		font-size 16px
		color #777777
	.sub-title
		position absolute
		left 0
		width 100%
		top 50%
		text-align center
		transform translateY(-50%)
	.sent &
		opacity 1
		visibility visible
