
.page-footer
	background #ffffff
.footer
	margin 0 13px
	.sub-title
		font-size 18px
		line-height 20px
		color #444
		display block
		padding-bottom 20px
		font-family 'Trebuchet MS',sans-serif
	.wrap-form
		padding-bottom 25px
		position relative
	.form
		display none
		padding-bottom 5px
		.btn{
			height 40px
			line-height 38px
		}
	.link
		text-decoration underline
		color #444
		fonr-size 14px
		line-height 18px
		display block
		text-align center
		padding-bottom 25px
	.dwnld
		padding-bottom 32px
		.title
			font-size 14px
			line-height 18px
			color #444
			padding-bottom 10px
			text-align center
			clear both
			font-weight bold
		a
			display: block
			width 50%
			text-align center
			float left
	.columns
		padding-top 0
	.col
		float left
		width 50%
		padding-right 10px
		&:last-child
			padding-left 10px
			padding-right 0
		ul
			padding-bottom 38px
		li
			color color-dark
			font-size 14px
			line-height: 33px
		a
			color color-dark
			text-decoration underline
			text-align left
		strong
			display block
			font-weight bold
	.contacts-list
		li
			line-height: 18px
			padding-bottom 6px
