node_modules
# dev
docs
tars
.babelrc
.editorconfig
.editorconfig
.travis.yml
appveyor.yml
LICENSE
package.json
README_RU.md
README.md




.DS_Store
._.DS_Store

.tmpTemplater
.tmpPreproc

.idea
npm-debug.log
phantomjsdriver.log
/nbproject/*

**/sprite_96.*
**/svg-fallback-sprite.*
**/svg-sprite.*
