.intro_lawngrids

	h1 
		| Газонные решетки
	p
		| Декоративное уличное покрытие – это удобно, выгодно и красиво! Сегодня рынок газонных экорешеток успешно развивается, и компания «Альта-Профиль» создала замечательное декоративное уличное покрытие – качественное, долговечное, прочное и надежное в эксплуатации.

.section-white


	.swiper-container.swiper-dot
		.swiper-wrapper
			.swiper-slide
				img(src="%=static=%img/assets/lawngrids/z_swip-i_1.svg", alt="")
				h2 Уникальная технология производства
				| Покрытие создано из высоко-прочного пластика, который выдерживает нагрузку до 25 тонн. Экорешетка «Альта-Профиль» максимально удобна в эксп-луатации и обслуживании!

			.swiper-slide
				img(src="%=static=%img/assets/lawngrids/z_swip-i_2.svg", alt="")
				h2 Многоуровневый контролькачества
				| Контроль происходит на всех этапах: при закупке сырья, на производстве, контроль качества готовой продукции. Благодаря этому покрытие от «Альта-Профиль» не уступает лучшим европейским образцам.
			.swiper-slide
				img(src="%=static=%img/assets/lawngrids/z_swip-i_3.png", alt="")
				h2 Оптимальное соотношениецены и качества
				| Доступная цена декоративного уличного покрытия «Альта-Профиль» идеально сочетается с высоким качеством. Это возм-ожно благодаря инновационным технологиям и автоматизации производства.
			.swiper-slide
				img(src="%=static=%img/assets/lawngrids/z_swip-i_4.svg", alt="")
				h2 Выдерживает российский климат
				| В отличие от недорогих аналогов, качественное декоративное уличное покрытие «Альта-Профиль» полностью адаптир-овано под российский климат. Оно переносит перепады температур от -50°С до +60°С.
		.swiper-dot-pagination



	.section-title
		| Универсальная решетка

	.swiper-container.swiper-color
		.swiper-wrapper
			.swiper-slide
				img(src="%=static=%img/assets/lawngrids/test.jpg", alt="")
			.swiper-slide
				img(src="%=static=%img/assets/lawngrids/test.jpg", alt="")
			.swiper-slide
				img(src="%=static=%img/assets/lawngrids/test.jpg", alt="")
	.swiper-color-pagination
	.swiper-scrollbar.scroll-blue



	h2 Стоимость: 161 р./шт.
	h2 Количество:

	input(type="text", placeholder="штук")
	input(type="text", placeholder="м2")

	a.btn.btn-red(href="#") В корзину
	a.btn.btn-blue(href="#") Показать точки продаж на карте



.section-white
	//- .section-title
	h1
		| 6 причин использовать газонные решетки 
		«Альта-Профиль»


	h2 Экономия на автомойке
	p Газонная решетка укрепляет грунт и дренирует территорию парковки, защищая от скопления влаги и появления колеи. Автомобиль не будет буксовать и останется чистым.

	h2 90% проникновения травы
	p Благодаря укреплению верхнего слоя почвы снимается нагрузка с корневой системы. Трава отлично выглядит при постоянной парковке. Проникновение травы – 90%.

	h2 Прослужит более 20 лет
	p Экорешетка изготовлена из высокопрочного пластика и выдерживает нагрузку до 40 тонн/м2. При квалифицированном монтаже про нее можно забыть на 20 лет.

	h2 Не требует ухода
	p Земля и скошенная трава не скапливаются в ячейках решетки, чистка не требуется. Косить траву на таком участке значительно удобнее, чем на обычном газоне.

	h2 Воплощение ваших идей
	p Заказывая решетку, Вы можете выбрать любой цвет на Ваш вкус и различные конфигурации ячеек, засыпать площадку щебнем, песком или засеять газонной травой.

	h2 Срок установки 1 день
	p Экорешетку можно перевозить в легко-вом автомобиле. Установка 1 м2 зани-мает в среднем 20 минут. На небольшом участке экорешетку можно установить за 1 день.


	.section-title 
		| Асортимент и применение
	h2 Общее применение
	p Газонная решетка «Альта-Профиль» изготавливается из влагостойкого высокопрочного пластика, устойчива к физическим нагрузкам, резким перепадам температур, воздействию ультрафиолета и агрессивной среды.

	h3 Георешетка

	p Георешетка проста в применении и благодаря гибкости принимает форму поверхности.

	h4 Область применения:

	ul.blue-dot
		li: Газонное покрытие;
		li: Покрытие для детских игровых площадок;
		li: Обрамление водной зоны или бассейна;
		li: Покрытие для ступенек террасных лестниц;
		li: Оформление площадок для садовой мебели и инвентаря;
		li: Декоративное оформление поверхностей канализационных коммуникаций.


	h3 Усиленная экорешетка

	p Усиленная экорешетка с высоким профилем имеет ребра жесткости и специальные штыри для фиксации в грунте, чтобы защитить панели от смещения.

	h4 Область применения:
	ul.blue-dot
		li: Общественные и частные автомобильные стоянки;
		li: Велосипедные и пешеходные дорожки;
		li: Благоустройство мест для проведения массовых мероприятий (выставки, ярмарки);
		li: Укрепление территории вокруг спортивных сооружений и кемпингов.


	p Правильно рассчитанная нагрузка и профессионально подобранная комплектация станет гарантией того, что экорешетка любой комплектации прослужит более 20 лет. Вам не придется нести дополнительные расходы по ее ремонту и восстановлению. Звоните, и мы поможем определитьсяс типом экорешетки или отправьте заявку на консультацию.


	form.blue-form
		h1 Заполните заявку на консультацию
		input(type="text", placeholder="Ваше имя")
		input(type="text", placeholder="Ваш телефон")

		button.btn.btn-red Заказать консультацию
