.swiper-wrapper
	.swiper-slide
		img(src="%=static=%img/assets/lawngrids/test.jpg", alt="")
	.swiper-slide
		img(src="%=static=%img/assets/lawngrids/test.jpg", alt="")
	.swiper-slide
		img(src="%=static=%img/assets/lawngrids/test.jpg", alt="")
	.swiper-slide
		img(src="%=static=%img/assets/lawngrids/test.jpg", alt="")
	.swiper-slide
		img(src="%=static=%img/assets/lawngrids/test.jpg", alt="")
	.swiper-slide
		img(src="%=static=%img/assets/lawngrids/test.jpg", alt="")
.swiper-color-pagination
.swiper-scrollbar.scroll-blue
