.news-page_news-item
  padding-top 2em
  time
    margin-bottom 1em

  img
    margin-bottom 1em

  h2
    font-weight 700
    margin 0


.more_news-item
  cursor pointer
  padding 2em 0
  text-align center
  color #a7a7a7
  text-decoration underline
