img.banner(src='%=static=%img/content/banner.jpg' alt='banner')
.sort-block
    .section-title Популярные товары
    .sort-block-i
        .wrap-select
            select
                option(value="Все") Все
                option(value="Все") Все
                option(value="Все") Все
                option(value="Все") Все
    .scroll-slider.product-slider
        .swiper-container
            .swiper-wrapper
                .swiper-slide
                    .wrap-img
                        img(src="%=static=%img/content/product1.png")
                    .title Сайдинг «Канада Плюс»
                    p   Цвет: фисташковый
                    p   Цена:
                        strong 1 500 р.
                        || за уп.
                .swiper-slide
                    .wrap-img
                        img(src="%=static=%img/content/product1.png")
                    .title Сайдинг «Канада Плюс»
                    p   Цвет: фисташковый
                    p   Цена:
                        strong 1 500 р.
                        | | за уп.
                .swiper-slide
                    .wrap-img
                        img(src="%=static=%img/content/product1.png")
                    .title Сайдинг «Канада Плюс»
                    p   Цвет: фисташковый
                    p   Цена:
                        strong 1 500 р.
                        | | за уп.
                .swiper-slide
                    .wrap-img
                        img(src="%=static=%img/content/product1.png")
                    .title Сайдинг «Канада Плюс»
                    p   Цвет: фисташковый
                    p   Цена:
                        strong 1 500 р.
                        | | за уп.
                .swiper-slide
                    .wrap-img
                        img(src="%=static=%img/content/product1.png")
                    .title Сайдинг «Канада Плюс»
                    p   Цвет: фисташковый
                    p   Цена:
                        strong 1 500 р.
                        | | за уп.
                .swiper-slide
                    .wrap-img
                        img(src="%=static=%img/content/product1.png")
                    .title Сайдинг «Канада Плюс»
                    p   Цвет: фисташковый
                    p   Цена:
                        strong 1 500 р.
                         | | за уп.
            .swiper-scrollbar.scroll-blue
    .wrap-btn
       a.btn.btn-red(href="#") В каталог