// ЗДЕСЬ ТОЛЬКО!!! общие для всех

@import './form'
@import './star-rating'


//HERE helpers
.content
	position relative
	overflow:hidden
	padding-top 60px
	//z-index 50
	background #FFF
	&.__bg
		background #f6f8fa url(../img/content/bg-patter47x35.png) repeat
.content-i
	overflow-y scroll
	height 100%
.center
	text-align center
	padding-bottom 2em


.clr_lite
.clr_lite-i
time
	color #999
.clr_lite-i
	font-style italic

time
	font-size 11px
	display block
	margin-bottom 2em




// tabs с пунктирным подчеркиванием
//.js_expander-trigger
.trigger_dashed
	font-size 25px
	cursor pointer
	i
		border-bottom 1px dashed color-dark

	& + .faq-question
		border-top 0
		padding-top 1em

.trigger_dashed-small
	//font-size 25px
	cursor pointer
	color color-light-blue
	i
		border-bottom 1px dashed
		display inline-block
		margin-bottom 1.5em

.js_expander-close
	text-align center
	padding 1em 0 2em
	a
		color #999
		border-bottom 1px dashed


.trigger_link
	color color-light-blue //0066cc
	text-decoration underline
	text-align right
	cursor pointer
	& + .js_expander-content
		padding-top 1em


.js_expander-content
.js_tab-content
.js_more-content
.item_gallery-toggle
	display none

.js_more-content
	margin-bottom 1em

.js_more-trigger
	&.grey
		display block
		color #999
		text-align center
		margin .4em 0 2em
		font-size 1.2em
		position relative
		&:after
			position absolute
		&:after
			content '\2000 ▼'
		&.active:after
			content '\2000 ▲'


.v_2em0
	margin 2em 0


// .HERE_tabs
// 	.js_tab-content
// 		&:nth-child(1)
// 			display none




h1, h2, h3, h4, h5, h6
	margin: 0 0 0.75em
	line-height: 1.25
	color #333


// TODO почему не H1
.section-title
	color color-light-blue
	margin 0 13px 20px
	font-size 25px
	line-height 20px


.h_clr
	color color-light-blue
._b
	font-weight bold

h1()
	font-size 25px
	color color-light-blue
	line-height 30px
h1
	h1()

h2()
	font-size 18px
	font-weight bold


h2
	font-size 18px
	//color color-dark


h3
	//color color-light-blue
	font-size 18px
	//padding 2em 0 1em
//margin 2em 0 1em

h4
	color color-dark
	font-size 14px
	font-weight bold
	margin-bottom 1em



p a
	text-decoration underline

p, ul
	margin-bottom 1em
strong
	font-weight bold;



//списки

//-ul
.blue-dot
	margin-bottom 2em
	li
		margin-bottom 1em
		&:before
			content '\25CF\2000' //http://unicode-table.com/ru/search/?q=%D0%BA%D1%80%D1%83%D0%B3
			color color-light-blue

.ul, .ol
	list-style-position: inside
	li
		margin-bottom 1em
.ol
	list-style-type: decimal

.ul
	li:before
		content '— '


//ярлык скидка
//figure.badge
.badge
	position relative
	display inline-block
	margin 1em 0 0 //reset figure
	&-sale
		position absolute
		top 0
		left 0
		background #e00c1b
		font-size 21px
		padding .8em .2em .3em
		color #FFF
		//css треугольник
		&:after
			content ''
			position absolute
			bottom -10px
			left 0
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 10px 37px 0 0;
			border-color: #e00c1b transparent transparent transparent;



.section-white_separator
	background: #fff //#FDFDFD
	padding: 2em 13px 1.25em

.section-white_bg-dot
	padding 1.5em 13px .25em//1em
	background url(%=static=%content/bg-dot.svg) #e2e4e6
	position relative
	box-shadow 0 2px 4px rgba(#000, .3);
	.control-indicator
		background #FFF
	.param b
		color #000
		background url(%=static=%content/bg-dot.svg) #e2e4e6




//ОТЗЫВЫ
.reviews
	b
		font-weight bold
.reviews_item
	//padding 1em 0
	margin: 2em 0;


// СЧЁТЧИКИ
.counter
	counter-reset list

	.wrap-item:before
		position absolute
		display block
		left 10px
		top -6px
		color #0071bb
		font-size 25px
		line-height 40px
		counter-increment: list
		content: counter(list) ". "


.ol_counter
	padding-left 60px
	li
		position relative
		line-height 3em
		&:before
			counter-increment: list
			content: counter(list)

			position: absolute;
			background color-light-blue
			top .5em
			left: -50px;
			width: 2em //30px;
			height: 2em //30px;
			border-radius: 50%;

			line-height 2.1em
			color #FFF
			text-align center
