@font-face {
	font-family: 'icomoon';
	src:    url('../fonts/icomoon.eot?6mhxn');
	src:    url('../fonts/icomoon.eot?6mhxn#iefix') format('embedded-opentype'),
	url('../fonts/icomoon.ttf?6mhxn') format('truetype'),
	url('../fonts/icomoon.woff?6mhxn') format('woff'),
	url('../fonts/icomoon.svg?6mhxn#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
	content: "\e900"
	font-size 10px
	color #fff
}
.icon-basket:before {
	content: "\e901"
	font-size 28px
	color #0071bb
}
.icon-phone:before {
	content: "\e902"
	font-size 26px
	color #0071bb
}

.icon-arrow-b:before {
	content: "\e903";
}
.icon-check:before {
	content: "\e904";
}
.icon-fb:before {
	content: "\e905"
	font-size 38px
	color #175696
}


.icon-ok2
	width 38px
	height 38px
	background #EB7B20

//
// .icon-ok2 .path1:before {
// 	content: "\e906";
// 	color: rgb(0, 0, 0);
// }
// .icon-ok2 .path2:before {
// 	content: "\e907";
// 	margin-left: -1em;
// 	color: rgb(255, 255, 255);
// }
// .icon-ok2 .path3:before {
// 	content: "\e908";
// 	margin-left: -1em;
// 	color: rgb(255, 255, 255);
// }
//
//


.icon-star:before {
	content: "\e909";
}
.icon-vk:before {
	content: "\e90a";
	font-size 38px
	color #45759e
}
.icon-yt:before {
	font-size 38px
	content: "\e90b";
	color #ff0000
}
.icon-close:before {
	content: "\e90c";
}
