.wrap-menu
	position: fixed
	left 0
	top 0
	width 290px
	background color-blue
	min-height 100%
	z-index 200
	.btn-close
		color #ffffff
		font-size 15px
		display block
		position absolute
		right 0
		top 0
		padding 17px 20px
		z-index 20
.menu-i
	overflow-y scroll
.menu-top
	background color-light-blue
	padding 15px 13px 20px 3px
	-webkit-box-shadow: 0 7px 10px 1px rgba(00,00,00,0.27)
	-moz-box-shadow: 0 7px 10px 1px rgba(00,00,00,0.27)
	box-shadow:  0 7px 10px 1px rgba(00,00,00,0.27)
.lang-list
	position relative
	padding-bottom 13px
	.item
		font-size 12px
		line-height 18px
		float left
		display block
		color #cccccc
		padding 0 9px
		text-transform uppercase
		&.active
			color #fff
			text-decoration underline
		&:first-child()
			padding-left 0
		&:last-child()
			padding-right 0
.choose-city
	display block
	overflow hidden
	padding-left 10px
	.icon-arrow-b
		display inline-block
		color #ffffff
		font-size 10px
		position  relative
		margin -6px 0 0 9px
.chosen-city
	color #ffffff
	font-size 14px
	line-height 22px
	display inline-block
	white-space nowrap
	overflow hidden
	text-overflow ellipsis
	border-bottom 1px dashed #ffffff
	max-width 90%
