.wrap-menu
	position: fixed
	left 0
	top 0
	width 290px
	background color-blue
	min-height 100%
	z-index 200
	.btn-close
		color #ffffff
		font-size 18px
		display block
		position absolute
		right 0
		top 0
		padding 17px 20px
.menu-i
	overflow-y scroll
.menu-top
	background color-light-blue
	padding 20px 13px 20px
	-webkit-box-shadow: 0 7px 10px 1px rgba(00,00,00,0.27)
	-moz-box-shadow: 0 7px 10px 1px rgba(00,00,00,0.27)
	box-shadow:  0 7px 10px 1px rgba(00,00,00,0.27)
.lang-list
	position: relative
	.item
		font-size 12px
		line-height 18px
		float left
		display block
		color #cccccc
		padding 0 9px
		text-transform uppercase
		&.active
			color #fff
			text-decoration underline
		&:first-child()
			padding-left 0
		&:last-child()
			padding-right 0
.choosen-city
	display block
	overflow hidden
	.icon-arrow-b
		display block
		float left
		color #ffffff
		font-size 18px
.choosen-city-i
	color #ffffff
	font-size 14px
	line-height 14px
	display inline-block
	white-space nowrap
	overflow hidden
	text-overflow ellipsis
	border-bottom 1px dashed #ffffff
	max-width 90%
