//[class=^"star_"]

star()
	&:before
		content: "\2605";
		position: absolute;


.rating
	padding 1em 0
	position relative
	b
		font-size 2em
		color #CCC

	&.star_1 b
		&:first-child
			color color-light-red
			star()
	&.star_2 b
		&:nth-child(-n+2)
			color color-light-red
			star()
	&.star_3 b
		&:nth-child(-n+3)
			color color-light-red
			star()
	&.star_4 b
		&:nth-child(-n+4)
			color color-light-red
			star()
	&.star_5 b
		&:nth-child(-n+5)
			color color-light-red
			star()
