.rating
	b
		font-size 2em
	&.star_1 b
		&:first-child
			color gold
	&.star_2 b
		&:nth-child(-n+2)
			color gold
	&.star_3 b
		&:nth-child(-n+3)
			color gold
	&.star_4 b
		&:nth-child(-n+4)
			color gold
	&.star_5 b
		&:nth-child(-n+5)
			color gold
