color-blue = #14469b
color-light-blue = #0071bb
color-light-red = #ff4646
color-dark = #444

.btn
	font-size 14px
	line-height 33px
	height 35px
	display block
	text-align center
	margin-bottom 20px
	position relative
	z-index 1
	transition color .3s ease 0s, backgorund .3s ease 0s
	&-red
		background color-light-red
		color #FFF
	&-blue
		background color-light-blue
		color #FFF
	&.btn-simple
		text-decoration underline
		color #444
