color-blue = #14469b
color-light-blue = #0071bb
color-light2-blue = #2e8bc7
color-light-red = #ff4646
color-red	= #e84c3d

color-dark = #444

a
	color color-light-blue

.btn
	cursor pointer
	font-size 14px
	line-height 33px
	height 35px
	display block
	text-align center
	margin-bottom 20px

	position relative
	z-index 1

	transition color .3s ease 0s, backgorund .3s ease 0s
	&-red
		background color-light-red
		color #fff
		&:hover
			background #D43838
	&-blue
		background color-light-blue
		color #fff
		&:hover
			background #0063A5
	&.btn-simple
		text-decoration underline
		color color-dark //#444
