doctype html
html(class="no-js", lang="ru")

	include ../modules/head/head
	include ../modules/footer/footer
	include ../modules/catalog-mixin/catalog-mixin
	include ../modules/header/menu
	include ../modules/header/header
	include ../modules/swiper/swiper-svg
	include ../modules/swiper/swiper-product
	head
		+head(head.cart)
	body
		+menu()

		.content.snap-content#content

			+page-header()

			//.section-white

			include ../modules/cart_page/cart

			+footer()

		//- Main scripts. You can replace it, but I recommend you to leave it here
		script(src='%=static=%js/main%=hash=%%=min=%.js')
		//
		script(src='%=static=%js/separate-js/start.js')
