doctype html
html(class="no-js", lang="ru")

	include ../modules/head/head
	include ../modules/footer/footer
	include ../modules/header/menu
	include ../modules/header/header
	head
		+head(head.lawngrids)
	body
		+menu()
		.content.snap-content#content
			+page-header()

			.content-i

				//.section-white
				include ../modules/lawngrids_page/lawngrids

				+footer()

		//- Main scripts. You can replace it, but I recommend you to leave it here
		script(src='%=static=%js/main%=hash=%%=min=%.js')

		//
		script(src='%=static=%js/separate-js/start.js')





		//-API yandex maps
		script(src='//api-maps.yandex.ru/2.1/?lang=ru_RU')
		script(src='%=static=%js/separate-js/map.js')
		// -script(src='%=static=%/js/lawngrids/map.js')
