doctype html
html(class="no-js", lang="ru")

	include ../modules/head/head
	include ../modules/footer/footer

	head
		+head(head.lawngrids)
	body
		.content
			include ../modules/header/header.jade

			//.section-white

			include ../modules/lawngrids/intro.jade


			+footer()

		//- Main scripts. You can replace it, but I recommend you to leave it here
		script(src='%=static=%js/main%=hash=%%=min=%.js')
		script(src='%=static=%js/separate-js/start.js')
