//mixin _template(data)
.section-white
	.section-title Корзина
	//h1 Корзина


.section-white_bg-dot
	.js_expander-trigger.trigger_dashed-small 
		i Ваш дилер «Авангард»
	.js_expander-content

		h2 Выбрать лучшего дилера
		p Программа автоматически подберет для вас лучшего дилера

		hr

		a.btn.btn-red(href="#") Выбрать

		.best-dealer_counter
			h2 Компания «Авангард»
			ul.dealer_list-param
				li г. Москва, ул. 2-я Магистральная, 19-г
				li 09:00 — 20:00, пн.-пт.
			a.btn.btn-red(href="#") Выбрать

			h2 Компания «Компания»
			ul.dealer_list-param
				li г. Москва, Красная площадь дом 1
				li 10:00 — 10:00, пн.-пт.
			a.btn.btn-red(href="#") Выбрать

			h2 Компания «НИИ Втор Чер Мет Загран Поставка»
			ul.dealer_list-param
				li г. Москва, Таганская дом 10
				li 10:00 — 10:00, пн.-пт.
			a.btn.btn-red(href="#") Выбрать


.section-white




.section-white_bg-dot
	h2.js_expander-trigger.trigger_dashed
		i Добавьте к своему заказу
	.js_expander-content

		.wrap-select
			select(style="width:100%")
				- var options = ['Гвозди','Руки','Ноги','Нюхнуть скунца','Засметанить клубница'];
					- for option in options
						option #{option}

		a.btn.btn-red(href="") Добавить к заказу

.section-white
	h2.js_expander-trigger.trigger_dashed
		i Добавить товар по артикулу
	.js_expander-content
		form(action="")
			input(type="text", name="", placeholder="Введите код артикула")
			button.btn.btn-red Добавить в корзину

.section-white_bg-dot

	h2.js_expander-trigger.trigger_dashed
		i Дополнительные услуги
	.js_expander-content
		label.control.checkbox
			input(type="checkbox", name="x")
			i.control-indicator
			h2 Доставка
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos aliquam error iure consequuntur, sed odit. Tempora inventore deserunt dolorum voluptates.

		label.control.checkbox
			input(type="checkbox", name="x")
			i.control-indicator
			h2 Монтаж
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos aliquam error iure consequuntur, sed odit. Tempora inventore deserunt dolorum voluptates.

		a.btn.btn-red(href="") Добавить к заказу

.Total-to-pay
	p Итого к оплате:
	b 8 675 р.


.section-white
	h2.js_expander-trigger.trigger_dashed
		i Промокод на скидку
	.js_expander-content
		form(action="")
			input(type="text", name="", placeholder="Введите промокод")
			button.btn.btn-red Использовать


	.HERE_tabs
		.js_tab-trigger.gray.active Частное лицо
		.js_tab-trigger.gray Юридическое лицо
		.js_tab-content
			form(action="")
				input(type="text", name="", placeholder="Введите ваше Ф.И.О.")
				input(type="text", name="", placeholder="Введите ваш e-mail")
				input(type="text", name="", placeholder="Введите ваш телефон")
				.wrap-select
					select(style="width:100%")
						- var options = ['Москва','Хабаровск','Тутуево','Кукуево','Гадюкино'];
							- for option in options
								option #{option}
				textarea(name="", rows="4", placeholder="Напишите комментарий к заказу")
				button.btn.btn-red Заказать
		.js_tab-content

			form(action="")
				input(type="text", name="", placeholder="Введите ИНН")
				input(type="text", name="", placeholder="Наименование организации")
				input(type="text", name="", placeholder="Ваша должность")
				input(type="text", name="", placeholder="Введите ваше Ф.И.О.")
				textarea(name="", rows="4", placeholder="Напишите комментарий к заказу")
				button.btn.btn-red Заказать

	hr
	+swiper-svg()
	h1 Вы просматривали
	+swiper-product()

	p У таких звезд в окнах видимости между. Внегалактических объектов кроме немногочисленных близких, которые случайным. Прозрачна, радиоизлучение можно зарегистрировать, а разрешающая сила радиотелескопов. Слабые галактики тоже будет понятно. Исследованиям радиозвезд их расстояний и распределенных по всему. Облаками пылевой материи после открытия.
