//mixin _template(data)
.section-white
	.section-title Корзина
	//h1 Корзина


.section-white_bg-dot
	.js_expander-trigger.trigger_dashed-small 
		i Ваш дилер «Авангард»
	.js_expander-content
		h2 Выбрать лучшего дилера
		p Программа автоматически подберет для вас лучшего дилера
		hr
		a.btn.btn-red(href="#") Выбрать
		.best-dealer_counter
			h2 Компания «Авангард»
			ul.dealer_list-param
				li г. Москва, ул. 2-я Магистральная, 19-г
				li 09:00 — 20:00, пн.-пт.
			a.btn.btn-gray(href="#") Ваш дилер
			h2 Компания «Компания»
			ul.dealer_list-param
				li г. Москва, Красная площадь дом 1
				li 10:00 — 10:00, пн.-пт.
			a.btn.btn-red(href="#") Выбрать
			h2 Компания «НИИ Втор Чер Мет Загран Поставка»
			ul.dealer_list-param
				li г. Москва, Таганская дом 10
				li 10:00 — 10:00, пн.-пт.
			a.btn.btn-red(href="#") Выбрать

		.js_expander-close
			a(href="") Скрыть информацию

		a.btn.btn-blue(href="") Показать ещё

.section-white.basket

	.item_basket
		i.js_basket-item_remove(title="Удалить") ✖

		.item_basket_L
			img(src="%=static=%img/assets/basket_page/basket_item.png", alt="")

		ul.item_basket_R
			li Cайдинг «Аляска» 
			li Цвет: бежевый
			li Арт. 125789
			li 4 875 р.*


		p * Цена указана примерная, точную стоимость вы можете уточнить у вашего дилера при оформлени заказа
		span
			input(type='text', placeholder='штук')
			i или
			input(type='text', placeholder='м2')

		dl.param
			dt
				b Цена за единицу
			dd 192 р.
			dt
				b Вес
			dd 6,2 кг
			dt
				b Длина
			dd 5 м
		//- - var param = {
		//- 	"Цена за единицу" : "190 р.",
		//- 	"Вес" : "6,2 кг",
		//- 	"Длина" : "5 м"
		//- };   
		//- 
		//- +dl_param(param)





.section-white_bg-dot
	h2.js_expander-trigger.trigger_dashed
		i Добавьте к своему заказу
	.js_expander-content


		img(src="%=static=%img/assets/basket_page/basket_add.png", alt="")

		.wrap-select
			select(style="width:100%")
				- var options = ['Гвозди','item_1','item_2','item_3','item_4'];
					- for option in options
						option #{option}


		dl.param
			dt
				b Цена за единицу
			dd 240 р.
			dt
				b Вес
			dd 4 кг

		.basket_add-price 480 р.
		a.btn.btn-red(href="") Добавить к заказу

.section-white
	h2.js_expander-trigger.trigger_dashed
		i Добавить товар по артикулу
	.js_expander-content
		form(action="")
			input(type="text", name="", placeholder="Введите код артикула")
			button.btn.btn-red Добавить в корзину

.section-white_bg-dot

	h2.js_expander-trigger.trigger_dashed
		i Дополнительные услуги
	.js_expander-content
		label.control.checkbox
			input(type="checkbox", name="x")
			i.control-indicator
			h2 Доставка
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos aliquam error iure consequuntur, sed odit. Tempora inventore deserunt dolorum voluptates.

		label.control.checkbox
			input(type="checkbox", name="x")
			i.control-indicator
			h2 Монтаж
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos aliquam error iure consequuntur, sed odit. Tempora inventore deserunt dolorum voluptates.

		a.btn.btn-red(href="") Добавить к заказу

.Total-to-pay
	p Итого к оплате:
	b 8 675 р.
.Total-weight
	| Общий вес: 36, 4 кг

.section-white
	h2.js_expander-trigger.trigger_dashed
		i Промокод на скидку
	.js_expander-content
		form(action="")
			input(type="text", name="", placeholder="Введите промокод")
			button.btn.btn-red Использовать


	.HERE_tabs
		.js_tab-trigger.gray.active Частное лицо
		.js_tab-trigger.gray Юридическое лицо
		.js_tab-content
			form(action="")
				input(type="text", name="", placeholder="Введите ваше Ф.И.О.")
				input(type="text", name="", placeholder="Введите ваш e-mail")
				input(type="text", name="", placeholder="Введите ваш телефон")
				.wrap-select
					select(style="width:100%")
						- var options = ['Москва','Хабаровск','Тутуево','Кукуево','Гадюкино'];
							- for option in options
								option #{option}
				textarea(name="", rows="4", placeholder="Напишите комментарий к заказу")
				button.btn.btn-red Заказать
		.js_tab-content

			form(action="")
				input(type="text", name="", placeholder="Введите ИНН")
				input(type="text", name="", placeholder="Наименование организации")
				input(type="text", name="", placeholder="Ваша должность")
				input(type="text", name="", placeholder="Введите ваше Ф.И.О.")
				textarea(name="", rows="4", placeholder="Напишите комментарий к заказу")
				button.btn.btn-red Заказать

	hr
	+swiper-svg()
	h1 Вы просматривали
	+swiper-product()

	p У таких звезд в окнах видимости между. Внегалактических объектов кроме немногочисленных близких, которые случайным. Прозрачна, радиоизлучение можно зарегистрировать, а разрешающая сила радиотелескопов. Слабые галактики тоже будет понятно. Исследованиям радиозвезд их расстояний и распределенных по всему. Облаками пылевой материи после открытия.
