//#FDFDFD
// ._bg_FDFDFD
//   background #FDFDFD
.js_basket-item_remove
  cursor pointer
  font-size 1.6em
  color #888



.basket
  background #FDFDFD
  counter-reset num

.item_basket
  // cf()
  // & > div
  //   width 48%
  //   //float left
  //   display inline-block
  //
  //   // &:first-child:before
  //   //   counter-increment: num
  //   //   content: counter(num) ". "
  //   //   font-size 2em
  //   // img
  //   //   float right
  //   //   margin-right 1em
  p
    color #888

.item_basket_L
.item_basket_R
  display inline-block
  vertical-align top
.item_basket_L
  width 40%
  &:before
    counter-increment: num
    content: counter(num) ". "
    font-size 2em
  img
    float right
    margin-right 1em

.item_basket_R
  width 50%





.Total-to-pay
  background #0066cc
  color #FFF
  text-align center
  padding 2.4em 1em
  p
    font-size 24px
    letter-spacing .1ex
    font-weight 100
  b
    font-size 42px
