/*
.series-features
  li
    //padding-left 50px
    img

*/

// TODO cart.jade
.swiper-sub_product
	color #815b5e
	dl
		width 120px
		margin auto
	dt,dd
		text-align left
		display inline-block
	dt
		width 26px
	dd
		width 90px

.swiper-svg
	.swiper-slide
		background #ddd
	.swiper-slide-active
		background color-light-blue
