//mixin _template(data)


.section-title Галерея
.sort-block-i
    .wrap-select
        select
            option(value="Все") Все
            option(value="Все") Все
            option(value="Все") Все
            option(value="Все") Все


ul.tab-list
    li.wrap-item
        a.tab-title(href="#") Виниловый сайдинг
        .tab-item
            img(src="http://lorempixel.com/295/190?1", alt="")
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro reiciendis quia, repudiandae repellendus cupiditate, dolores recusandae numquam unde eaque blanditiis tenetur reprehenderit! Repellendus cum, blanditiis at unde, iste vel perferendis.
            
    li.wrap-item
        a.tab-title(href="#") Виниловый сайдинг
        .tab-item
            img(src="http://lorempixel.com/295/190?2", alt="")
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro reiciendis quia, repudiandae repellendus cupiditate, dolores recusandae numquam unde eaque blanditiis tenetur reprehenderit! Repellendus cum, blanditiis at unde, iste vel perferendis.


    li.wrap-item
        a.tab-title(href="#") Виниловый сайдинг
        .tab-item
            img(src="http://lorempixel.com/295/190?3", alt="")
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro reiciendis quia, repudiandae repellendus cupiditate, dolores recusandae numquam unde eaque blanditiis tenetur reprehenderit! Repellendus cum, blanditiis at unde, iste vel perferendis.
            
    li.wrap-item
        a.tab-title(href="#") Виниловый сайдинг
        .tab-item
            img(src="http://lorempixel.com/295/190?4", alt="")
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro reiciendis quia, repudiandae repellendus cupiditate, dolores recusandae numquam unde eaque blanditiis tenetur reprehenderit! Repellendus cum, blanditiis at unde, iste vel perferendis.


    li.wrap-item
        a.tab-title(href="#") Виниловый сайдинг
        .tab-item
            img(src="http://lorempixel.com/295/190?5", alt="")
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro reiciendis quia, repudiandae repellendus cupiditate, dolores recusandae numquam unde eaque blanditiis tenetur reprehenderit! Repellendus cum, blanditiis at unde, iste vel perferendis.
            
    li.wrap-item
        a.tab-title(href="#") Виниловый сайдинг
        .tab-item
            img(src="http://lorempixel.com/295/190?6", alt="")
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro reiciendis quia, repudiandae repellendus cupiditate, dolores recusandae numquam unde eaque blanditiis tenetur reprehenderit! Repellendus cum, blanditiis at unde, iste vel perferendis.


    li.wrap-item
        a.tab-title(href="#") Виниловый сайдинг
        .tab-item
            img(src="http://lorempixel.com/295/190?7", alt="")
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro reiciendis quia, repudiandae repellendus cupiditate, dolores recusandae numquam unde eaque blanditiis tenetur reprehenderit! Repellendus cum, blanditiis at unde, iste vel perferendis.
            
    li.wrap-item
        a.tab-title(href="#") Виниловый сайдинг
        .tab-item
            img(src="http://lorempixel.com/295/190?8", alt="")
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro reiciendis quia, repudiandae repellendus cupiditate, dolores recusandae numquam unde eaque blanditiis tenetur reprehenderit! Repellendus cum, blanditiis at unde, iste vel perferendis.






a.btn.btn-blue(href="#") Показать ещё 6 из 32

a.btn.btn-red(href="#") Загрузить своё фото

p
  | У таких звезд в окнах видимости между. Внегалактических объектов кроме немногочисленных близких, которые случайным. Прозрачна, радиоизлучение можно зарегистрировать, а разрешающая сила радиотелескопов. Слабые галактики тоже будет понятно. Исследованиям радиозвезд их расстояний и распределенных по всему. Облаками пылевой материи после открытия.
