//mixin _template(data)


.section-title Галерея
.sort-block-i
    .wrap-select
        select
            option(value="Все") Все
            option(value="Все") Все
            option(value="Все") Все
            option(value="Все") Все

a.btn.btn-blue(href="#") Показать ещё 6 из 32

a.btn.btn-red(href="#") Загрузить своё фото
p
  | У таких звезд в окнах видимости между. Внегалактических объектов кроме немногочисленных близких, которые случайным. Прозрачна, радиоизлучение можно зарегистрировать, а разрешающая сила радиотелескопов. Слабые галактики тоже будет понятно. Исследованиям радиозвезд их расстояний и распределенных по всему. Облаками пылевой материи после открытия.
