.section-title О компании
a.logotype(href="#")
	img(src="%=static=%img/content/logo-about.png")
p Руку при оценке качества восприятия макета благодаря чему появляется возможность получить более. Разной частотой, имеется разница в книгопечатании еще в длине наиболее распространенных слов. Различных языках те или иные буквы. Использованием lorem ipsum на руку. Использовать в качестве рыбы текст этот.
.list
	ul
		li
			.icon
				img(src="%=static=%img/content/icon_intro_1.svg")
			| Руку при оценкеРазной частотой, имеется разница
		li
			.icon
				img(src="%=static=%img/content/icon_intro_1.svg")
			| Руку при оценкеРазной частотой, имеется разница
		li
			.icon
				img(src="%=static=%img/content/icon_intro_1.svg")
			| Руку при оценкеРазной частотой, имеется разница
