//mixin _tpl(data)

.section-title Новости
img.banner(src="%=static=%img/content/banner2.jpg" alt="banner")

.news-list
	.news
		h2 Только до 25 февраля!
		.date 24.02.2016
		p Руку при оценке качества восприятия макета благодаря чему появляется возможность получить более. Разной частотой, имеется разница в книгопечатании еще в длине наиболее распространенных слов. Различных языках теиные буквы. Использованием lorem ipsum на руку. Использовать в качестве рыбы текст этот.айтах.
	.news
		h2 Заголовок
		.date 24.02.2016
		p Алфавит, могут возникнуть небольшие проблемы: в книгопечатании еще в книгопечатании еще.
	.news
		h2 Заголовок
		.date 24.02.2016
		p Алфавит, могут возникнуть небольшие проблемы: в книгопечатании еще в книгопечатании еще.
	.news
		h2 Заголовок
		.date 24.02.2016
		p Алфавит, могут возникнуть небольшие проблемы: в книгопечатании еще в книгопечатании еще.
a.btn.btn-blue(href="#") Больше новостей
